<div>
    <div class="row">
        <div class="col-12 col-lg-12">
            <div class="content-header">
                <ol class="breadcrumb">
                    <li><a href="#">Dashboard</a></li>
                    <li><a href="#">Crops</a></li>
                    <li class="active"><a href="#">{{!edit ? 'View' : 'Edit'}}</a></li>
                </ol>
            </div>
        </div>
    </div>
<form role="form" (ngSubmit)="save()" #dailyExpenseForm="ngForm">
    <div class="card">
        <div class="card-header">
            <strong>{{!edit ? 'View' : 'Edit'}} Crop</strong>
			<button class="btn btn-secondary pull-right" *ngIf="!edit" (click)="editCrop()"><i class="fa fa-pencil"></i> Edit</button>
            <button class="btn btn-secondary whiteclr pull-right" *ngIf="edit" (click)="cancel()">Cancel</button>
            <button type="submit" class="btn btn-success orangeclr pull-right" *ngIf="edit">Save</button>
        </div>
        <div class="card-block viewmode" *ngIf="!edit">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-name">Crop Name*</label>
							<p>{{crop.name}}</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-password">Category*</label>
							<p>{{crop.category}}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-variety">Variety</label>
							<p>{{crop.variety}}</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-price">Offer Price <i class="fa fa-rupee"></i> *</label>
							<p><i class="fa fa-rupee"></i>{{crop.price}}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-grade">Grade</label>
							<p>{{crop.grade}}</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-color">Color*</label>
							<p>{{crop.color}}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-size">Size/Weight*</label>
							<p>{{crop.size}}</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-otherSpeciality">Other Speciality</label>
							<p>{{crop.other_speciality}}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-availibility">Availibility Period*</label>
							<p>{{crop.availibility}}</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-packaging">Packaging*</label>
							<p>{{crop.packaging}}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-supplyAblity">Supply Ability*</label>
							<p>{{crop.supply_ablity}}</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-destinationForShipping">Destination for Shipping*</label>
							<p>{{crop.destination_shipping}}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-packSize">Pack Size*</label>
							<p>{{crop.pack_size}}</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-qty">Quantity Per Pack*</label>
							<p>{{crop.quantity_per_pack}}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-label">Label/Making on Pack*</label>
							<p>{{crop.label}}</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-paymentTerms">Payment Terms*</label>
							<p>{{crop.payment_method}}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-moq">MOQ*</label>
							<p>{{crop.moq}}</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-averageLeadTime">Average Lead Time*</label>
							<p>{{crop.average_lead_time}}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-additionalInformation">Additional Information*</label>
							<p>{{crop.additional_info}}</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-termsConditions">Terms & Conditions</label>
							<p>{{crop.terms}}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-image">Image</label>
							<p><i class="fa fa-file-image-o"></i> {{crop.image}}</p>
                        </div>
                    </div>
                </div>
        </div>
        <div class="card-block" *ngIf="edit">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="nf-name">Crop Name</label>
                            <input type="text" id="nf-name" name="nf-name" class="form-control" placeholder="" [(ngModel)]="crop.name" required>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="nf-password">Category</label>
                            <p>{{crop.category}}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-variety">Variety</label>
                            <select id="select1" name="select1" class="form-control" [(ngModel)]="crop.variety" size="1">
                                <option value="0">Please select</option>
                                <option value="1">Variety 1</option>
                                <option value="2">Variety 2</option>
                                <option value="3">Variety 3</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="nf-price">Offer Price <i class="fa fa-rupee"></i></label>
                            <input type="number" id="nf-price" name="nf-price" class="form-control" [(ngModel)]="crop.price" placeholder="" min='1'>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-grade">Grade</label>
                            
                        <form class="grade">
                            <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-default">
                            <input name="grade" value="A+" type="radio" [(ngModel)]="crop.grade" >A+
                            </label>
                            <label class="btn btn-default">
                            <input name="grade" value="A" type="radio" [(ngModel)]="crop.grade">A
                            </label>
                            <label class="btn btn-default">
                            <input name="grade" value="B" class="active" type="radio" [(ngModel)]="crop.grade">B
                            </label>
                            <label class="btn btn-default">
                            <input name="grade" value="C" type="radio" [(ngModel)]="crop.grade">C
                            </label>
                            </div>
                        </form>
                       
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="nf-color">Color</label>
                            <input type="text" id="nf-color" name="nf-color" class="form-control" [(ngModel)]="crop.color" placeholder="" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="nf-size">Size/Weight</label>
                            <input type="text" id="nf-size" name="nf-size" class="form-control" [(ngModel)]="crop.size" placeholder="" required>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-other_speciality">Other Speciality</label>
                            <input type="text" id="nf-other_speciality" name="nf-other_speciality" class="form-control" [(ngModel)]="crop.other_speciality" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="nf-availibility">Availibility Period</label>
                            <input type="text" id="nf-availibility" name="nf-availibility" class="form-control" [(ngModel)]="crop.availibility" placeholder="" required>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="nf-packaging">Packaging</label>
                            <select id="select2" name="select2" class="form-control" size="1" [(ngModel)]="crop.packaging" required>
                                <option >Please select</option>
                                <option value="Pack 1">Pack 1</option>
                                <option value="Pack 2">Pack 2</option>
                                <option value="Pack 3">Pack 3</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="nf-supply_ablity">Supply Ability</label>
                            <input type="text" id="nf-supply_ablity" name="nf-supply_ablity" class="form-control" [(ngModel)]="crop.supply_ablity" placeholder="" required>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="nf-destination_shipping">Destination for Shipping*</label>
                            <select id="select3" name="select3" class="form-control" size="1" [(ngModel)]="crop.destination_shipping" required>
                                <option >Please select</option>
                                <option value="Shipping 1">Shipping 1</option>
                                <option value="Shipping 2">Shipping 2</option>
                                <option value="Shipping 3">Shipping 3</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="nf-pack_size">Pack Size</label>
                            <input type="text" id="nf-pack_size" name="nf-pack_size" class="form-control" [(ngModel)]="crop.pack_size" placeholder="" required>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="nf-qty">Quantity Per Pack</label>               
                            <div class="input-group">
                              <input type="text" id="nf-quantity_per_pack" name="quantity_per_pack" class="form-control" aria-label="Text input with dropdown button" [(ngModel)]="crop.quantity_per_pack" placeholder="" required>
                              <div class="input-group-btn">
                                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Kg
                                </button>
                                <div class="dropdown-menu dropdown-menu-right">
                                  <a class="dropdown-item" href="#">Action</a>
                                  <a class="dropdown-item" href="#">Another action</a>
                                  <a class="dropdown-item" href="#">Something else here</a>
                                  <div role="separator" class="dropdown-divider"></div>
                                  <a class="dropdown-item" href="#">Separated link</a>
                                </div>
                              </div>
                            </div>                       
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="nf-label">Label/Making on Pack</label>
                            <input type="text" id="nf-label" name="nf-label" class="form-control" [(ngModel)]="crop.label" placeholder="" required>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="nf-paymentTerms">Payment Terms</label>
                           <form class="grade">
                            <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-default">
                            <input name="payment_mode" value="COD" type="radio" [(ngModel)]="crop.payment_method">COD
                            </label>
                            <label class="btn btn-default">
                            <input name="payment_mode" value="Cheque" type="radio" [(ngModel)]="crop.payment_method">Cheque
                            </label>
                            <label class="btn btn-default">
                            <input name="payment_mode" value="Net Banking" class="active" type="radio" [(ngModel)]="crop.payment_method">Net Banking
                            </label>
                            
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="nf-moq">MOQ</label>
                            <input type="text" id="nf-moq" name="nf-moq" class="form-control" [(ngModel)]="crop.moq" placeholder="" required>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="nf-average_lead_time">Average Lead Time</label>
                            <input type="text" id="nf-average_lead_time" name="nf-average_lead_time" class="form-control" [(ngModel)]="crop.average_lead_time" placeholder="" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="nf-additional_info">Additional Information</label>
                            <textarea type="text" id="nf-additional_info" name="nf-additional_info" class="form-control" [(ngModel)]="crop.additional_info" placeholder="" rows="4" required ></textarea>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-terms">Terms & Conditions</label>
                            <textarea type="text" id="nf-terms" name="nf-terms" class="form-control" [(ngModel)]="crop.terms" placeholder="" rows="4"></textarea>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</form>    
</div>
