<div>
    <div class="row">
        <div class="col-12 col-lg-12">
            <div class="content-header">
                <ol class="breadcrumb">
                    <li><a href="#">Dashboard</a></li>
                    <li><a href="#">Crops</a></li>
                    <li class="active"><a href="#">View</a></li>
                </ol>
            </div>
        </div>
    </div>
<form role="form" (ngSubmit)="save()" #dailyExpenseForm="ngForm">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-sm-3 col-12">
                   <strong>View Crop</strong>           
                </div>
                <div class="col-sm-9 col-12 text-right linehght">
                   <button type="button" class="btn btn-secondary" [routerLink]="['/crop/list']">Back</button>  

                    <button type="button" class="btn btn-success pull-right" (click)="updateCrop(crop.id)">Edit Crop</button> 
                                             &nbsp;
                </div>
            </div>
        </div>
        <div class="card-block viewmode">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-name">Crop Name</label>
							<p>{{crop.name}}</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-password">Category</label>
							<p>{{crop.category?.name}}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-variety">Variety</label>
							<p>{{crop.variety}}</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-price">Offer Price <i class="fa fa-rupee"></i> *</label>
							<p><i class="fa fa-rupee"></i>{{crop.price}}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-grade">Grade</label>
							<p>{{crop.grade}}</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-color">Color</label>
							<p>{{crop.color}}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-size">Size/Weight</label>
							<p>{{crop.size}}</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-otherSpeciality">Other Speciality</label>
							<p>{{crop.other_speciality}}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-availibility">Availibility Period</label>
							<p>{{crop.availibility}}</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-packaging">Packaging</label>
							<p>{{crop.packaging}}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-supplyAblity">Supply Ability</label>
							<p>{{crop.supply_ablity}}</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-destinationForShipping">Destination for Shipping</label>
							<p>{{crop.destination_shipping}}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-packSize">Pack Size</label>
							<p>{{crop.pack_size}}</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-qty">Quantity Per Pack</label>
							<p>{{crop.quantity_per_pack}}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-label">Label/Making on Pack</label>
							<p>{{crop.label}}</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-paymentTerms">Payment Terms</label>
							<p>{{crop.payment_method}}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-moq">MOQ</label>
							<p>{{crop.moq}}</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-averageLeadTime">Average Lead Time</label>
							<p>{{crop.average_lead_time}}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-additionalInformation">Additional Information</label>
							<p>{{crop.additional_info}}</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-termsConditions">Terms & Conditions</label>
							<p>{{crop.terms}}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-image">Image</label>
							<p><i class="fa fa-file-image-o"></i> {{crop.image}}</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-termsConditions">Farmer</label>
                            <p>{{crop.user?.first_name ? crop.user?.first_name + ' ' + crop.user?.last_name : crop.user?.username}}</p>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</form>    
</div>
