<!-- <div class="input-wrapper animated fadeIn">       -->
<div class="input-wrapper">      
    <div class="row">
        <div class="col-12 col-lg-12">
            <div class="content-header">
                <ol class="breadcrumb">
                    <li><a href="javascript:void(0)">Dashboard</a></li>
                    <li class="active"><a href="javascript:void(0)">Inputs</a></li>      
                </ol>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Inputs
                    <button type="button" class="btn btn-success pull-right" [routerLink]="['/input/add']">Add Inputs</button>
                </div>
                
                <div class="card-block">                                        
                    <table class="table table-bordered table-striped table-condensed" [mfData]="data" #mf="mfDataTable"
                               [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                        <thead>
                            <tr>
                                <th width="30%"><mfDefaultSorter by="name">Name</mfDefaultSorter></th>
                                <th width="20%"><mfDefaultSorter by="price">Price</mfDefaultSorter></th>
                                <th width="20%"><mfDefaultSorter by="variety">Units</mfDefaultSorter></th>
                                <th width="10%"><mfDefaultSorter by="quantity">Qty</mfDefaultSorter></th>
                                <th width="20%">Actions</th>
                            </tr>
                        </thead>                        
                        <tbody>
                            <tr *ngIf="isLoading">
                                <td colspan="3">
                                    <div class="is-loading"><i class="page-loader"></i></div>
                                </td>
                            </tr>
                            <tr *ngFor="let input of mf.data">                        
                                <td><a href="javascript:void(0);" (click)="viewInput(input.id)">{{input.name}}</a></td>
                                <td>{{input.price}}</td>
                                <td>{{input.variety}}</td>
                                <td>{{input.quantity}}</td>

                                <td>                                    
                                    <button (click)="sendUpdateinput(input.id)" class="btn btn-info" title="Edit" style="padding:1px 6px"><i class="fa fa-pencil"></i></button>
                                    <button  (click)="removeInput(input.id)" class="btn btn-danger" title="Delete" style="padding: 1px 6px"><i class="fa fa-trash"></i></button>                                    
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3">
                                    <mfBootstrapPaginator></mfBootstrapPaginator>
                                </td>    
                            </tr>                            
                        </tfoot>
                    </table>                             
                </div>
            </div>
        </div>
    </div>
</div>
