<div class="input-wrapper">    
    <div class="row">
        <div class="col-12 col-lg-12">
            <div class="content-header">
                <ol class="breadcrumb">
                    <li><a href="javascript:void(0)">Dashboard</a></li>
                    <li class="active"><a href="javascript:void(0)">Input</a></li>      
                </ol>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <strong>View input</strong>
            <button type="button" class="btn btn-success pull-right" (click)="updateInput(input.id)">Edit Input</button>              
        </div>
        <div class="card-block">
            <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-name">Input Name*</label>
                            <p>{{input.name}}</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label >Manufacturer</label>
                            <p>{{input.manufacturer_id}}</p>
                        </div>
                    </div>
                    
                 </div>   
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-variety">Variety</label>
                            <p>{{input.variety}}</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-price">Price</label>
                            <p><i class="fa fa-rupee"></i>{{input.price}}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-grade">Quantity</label>
                            <p>{{input.quantity}}</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-color">Unit</label>
                            <p>{{input.units}}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-termsConditions">Terms & Conditions</label>
                            <p>{{input.tearm_and_conditions}}</p>
                        </div>
                    </div>
                </div>                       
        </div>
    </div> <!-- .card -->
</div> <!-- .input-wrapper -->