<!-- <div class="crop-wrapper animated fadeIn">       -->
<div class="crop-wrapper">      
    <div class="row">
        <div class="col-12 col-lg-12">
            <div class="content-header">
                <ol class="breadcrumb">
                    <li><a href="javascript:void(0)">Dashboard</a></li>
                    <li class="active"><a href="javascript:void(0)">Crops</a></li>      
                </ol>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    Crops
                    <button type="button" class="btn btn-success pull-right" [routerLink]="['/crop/add']">Add Crop</button>
                </div>
                
                <div class="card-block">                                        
                    <table class="table table-bordered table-striped table-condensed" [mfData]="data" #mf="mfDataTable"
                               [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                        <thead>
                            <tr>
                                <th width="25%"><mfDefaultSorter by="name">Name</mfDefaultSorter></th>
                                <th width="25%"><mfDefaultSorter by="price">Offer Price</mfDefaultSorter></th>
                                <th width="25%"><mfDefaultSorter by="quantity_per_pack">Qty.</mfDefaultSorter></th>                            
                                <th width="25%"><mfDefaultSorter by="category">Category</mfDefaultSorter></th>                        
                                <th width="25%"><mfDefaultSorter by="color">Color</mfDefaultSorter></th>                            
                                <th width="30%">Actions</th>
                            </tr>
                        </thead>                        
                        <tbody>
                            <tr *ngIf="isLoading">
                                <td colspan="3">
                                    <div class="is-loading"><i class="page-loader"></i></div>
                                </td>
                            </tr>
                            <tr *ngFor="let crop of mf.data;let i = index">                        
                                <td><a href="javascript:void(0);" (click)="viewCrop(crop.id)">{{crop.name}}</a></td>
                                <td>{{crop.price}}</td>
                                <td>{{crop.quantity_per_pack}}</td>
                                <td>{{crop.category}}</td>
                                <td>{{crop.color}}</td>
                                <td>                                    
                                    <button (click)="sendUpdateCrop(crop.id)" class="btn btn-info" title="Edit" style="padding:1px 6px"><i class="fa fa-pencil"></i></button>
                                    <button  (click)="removeCrop(crop,i)" class="btn btn-danger" title="Delete" style="padding: 1px 6px"><i class="fa fa-trash"></i></button>                                    
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="7">
                                    <div *ngIf="err_message" class="text-center text-danger">{{err_message}}</div>                          
                                    <mfBootstrapPaginator></mfBootstrapPaginator>
                                </td>    
                            </tr>                            
                        </tfoot>
                    </table>  
                </div>
            </div>
        </div>
    </div>
</div>
