<div>
    <div *ngIf="isLoading" class="overlayloader">
        <div class="loader"></div>
    </div>
    <!-- loading section -->
    <div class="aligncenter_loader" *ngIf="isPageLoading">
        <div class="is-loading"><i class="page-loader"></i></div>        
    </div>
    <!-- loading section ends  -->
    <div class="card" *ngIf="!isPageLoading">
        <div class="card-header">
            <strong>{{cropID ? 'Edit' : 'Add'}} Crop</strong>
        </div>
        <!-- form to add or update crop -->
        <form role="form" (ngSubmit)="save()" #addCropForm="ngForm">
        <div class="card-block">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="nf-name">Crop Name</label>
                            <input autofocus type="text" id="name" name="name" class="form-control" placeholder="" #name="ngModel" [(ngModel)]="crop.name" pattern="[a-zA-Z][a-zA-Z0-9!@#$%^&*()\s]*" required>
                            <div class="error-block">
                                <small *ngIf="name.errors?.required && name.touched" class="text-danger">
                                    Crop name is required.
                                </small>
                                <small *ngIf="name.errors?.pattern && name.touched" class="text-danger">
                                    Crop name is required.
                                </small>                                                          
                            </div>    
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="seller">Seller</label>
                            <select id="seller" name="seller" class="form-control" size="1" [(ngModel)]="crop.sellerID">
                                <option value="">Please select</option>                                
                                <option *ngFor="let obj of sellers" value="{{obj.id}}">
                                    {{obj.username}}
                                </option>       
                            </select>
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="nf-category">Category</label>
                            <select id="nfcategory" name="nfcategory" class="form-control" size="1" #nfcategory="ngModel" [(ngModel)]="crop.categoryID" required>
                                <option value="">Please select</option>
                                <option *ngFor="let cat of category" value="{{cat.id}}">{{cat.name}}</option>
                            </select>
                            <div class="error-block">
                                <small *ngIf="nfcategory.errors?.required && nfcategory.touched" class="text-danger">
                                    Category is required.
                                </small>                                                          
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-variety">Variety</label>
                            <select id="select1" name="select1" class="form-control" [(ngModel)]="crop.variety" size="1">
                                <option value="">Please select</option>
                                <option value="Variety 1">Variety 1</option>
                                <option value="Variety 2">Variety 2</option>
                                <option value="Variety 3">Variety 3</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="address">Address</label>
                            <input type="text" id="address" name="address" #address="ngModel"  class="form-control" [(ngModel)]="crop.address" placeholder="" required />
                            <div class="error-block">
                                <small *ngIf="address.errors?.required && address.touched" class="text-danger">
                                    Address is required.
                                </small>                                                          
                            </div> 
                        </div>                                    
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="nf-city">City/Village</label>
                            <input type="text" id="nf-city" name="city" #city="ngModel" class="form-control" [(ngModel)]="crop.city" placeholder="" required>
                            <div class="error-block">
                                <small *ngIf="city.errors?.required && city.touched" class="text-danger">
                                    City is required.
                                </small>                                                          
                            </div> 
                        </div>
                    </div> 
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="nf-district">District</label>
                            <input type="text" id="nf-district" name="district" #district="ngModel" class="form-control" [(ngModel)]="crop.district" placeholder="" required>
                            <div class="error-block">
                                <small *ngIf="district.errors?.required && district.touched" class="text-danger">
                                    District is required.
                                </small>                                                          
                            </div> 
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="state">State</label>
                            <select id="state" name="state"  [(ngModel)]="crop.state" placeholder="" required class="form-control" size="1" #state="ngModel" required>
                                <option value="">Select State</option>
                                <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                                <option value="Andhra Pradesh">Andhra Pradesh</option>
                                <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                <option value="Assam">Assam</option>
                                <option value="Bihar">Bihar</option>
                                <option value="Chandigarh">Chandigarh</option>
                                <option value="Chhattisgarh">Chhattisgarh</option>
                                <option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
                                <option value="Daman and Diu">Daman and Diu</option>
                                <option value="Delhi">Delhi</option>
                                <option value="Goa">Goa</option>
                                <option value="Gujarat">Gujarat</option>
                                <option value="Haryana">Haryana</option>
                                <option value="Himachal Pradesh">Himachal Pradesh</option>
                                <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                                <option value="Jharkhand">Jharkhand</option>
                                <option value="Karnataka">Karnataka</option>
                                <option value="Kerala">Kerala</option>
                                <option value="Lakshadweep">Lakshadweep</option>
                                <option value="Madhya Pradesh">Madhya Pradesh</option>
                                <option value="Maharashtra">Maharashtra</option>
                                <option value="Manipur">Manipur</option>
                                <option value="Meghalaya">Meghalaya</option>
                                <option value="Mizoram">Mizoram</option>
                                <option value="Nagaland">Nagaland</option>
                                <option value="Orissa">Orissa</option>
                                <option value="Pondicherry">Pondicherry</option>
                                <option value="Punjab">Punjab</option>
                                <option value="Rajasthan">Rajasthan</option>
                                <option value="Sikkim">Sikkim</option>
                                <option value="Tamil Nadu">Tamil Nadu</option>
                                <option value="Tripura">Tripura</option>
                                <option value="Uttaranchal">Uttaranchal</option>
                                <option value="Uttar Pradesh">Uttar Pradesh</option>
                                <option value="West Bengal">West Bengal</option>
                            </select>
                            <div class="error-block">
                                <small *ngIf="state.errors?.required && state.touched" class="text-danger">
                                    State is required.
                                </small>                                                          
                            </div> 
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="nf-pincode">Pin Code </label>
                            <input type="number" id="nf-pincode" name="pincode" #pincode="ngModel" class="form-control" [(ngModel)]="crop.pincode" max="999999" placeholder="" required>
                            <div class="error-block">
                                <small *ngIf="pincode.errors?.required && pincode.touched" class="text-danger">
                                    Pin Code is required.
                                </small>                                                          
                            </div> 
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group has-required">
                         <label for="nf-qty">Quantity</label>
                          <div class="input-group">
                              <input type="number" id="quantity" name="quantity" class="form-control" aria-label="Text input with dropdown button" #quantity="ngModel" [(ngModel)]="crop.quantity" min="1" max="9999999999999998" placeholder="" required>
                               <div class="input-group-btn">
                                  <select id="select4" name="select4" class="btn btn-secondary dropdown-toggle" [(ngModel)]="crop.quantityUnit" required>
                                    <option value="Kg">Kg</option>
                                    <option value="Quintal">Quintal</option>
                                    <option value="Tonnes">Tonnes</option>
                                 </select>
                              </div>
                            </div>
                            <div class="error-block">
                                <small *ngIf="quantity.errors?.required && quantity.touched" class="text-danger">
                                    Quantity is required.
                                </small>
                                <small *ngIf="quantity.errors?.min && quantity.touched" class="text-danger">
                                    Minimum quantity should be 1.
                                </small>                                                          
                                <small *ngIf="quantity.errors?.max && quantity.touched" class="text-danger">
                                    Maximum quantity is allow upto 16 digit.
                                </small> 
                            </div>                       
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="nf-price">Offer Price</label>
                            <div class="relative    ">
                            <div class="icnposition"><i class="fa fa-rupee"></i></div>
                            <input type="number" id="nfprice" name="nfprice" class="form-control pleft25" #nfprice="ngModel" [(ngModel)]="crop.price" placeholder="" required="" min="1" max="9999999999999998">
                            </div>
                            <div class="error-block">
                                <small *ngIf="nfprice.errors?.required && nfprice.touched" class="text-danger">
                                    Offer Price is required.
                                </small>
                                <small *ngIf="nfprice.errors?.min && nfprice.touched" class="text-danger">
                                    Minimum offer price should be 1.
                                </small>                                                          
                                <small *ngIf="nfprice.errors?.max && nfprice.touched" class="text-danger">
                                    Maximum offer price is allow upto 16 digit.
                                </small>                                                           
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-grade">Quality</label>
                            <form class="grade">
                                <div class="btn-group" data-toggle="">
                                   <label class="btn btn-default" [ngClass]="{'active': crop.grade == 'A+'}">
                                          <input name="grade" value="A+" type="radio" [(ngModel)]="crop.grade" >A+
                                    </label>
                                    <label class="btn btn-default" [ngClass]="{'active': crop.grade == 'A'}">
                                         <input name="grade" value="A" type="radio" [(ngModel)]="crop.grade">A
                                    </label>
                                    <label class="btn btn-default" [ngClass]="{'active': crop.grade == 'B'}">
                                       <input name="grade" value="B" type="radio" [(ngModel)]="crop.grade">B
                                    </label>
                                    <label class="btn btn-default" [ngClass]="{'active': crop.grade == 'C'}">
                                        <input name="grade" value="C" type="radio" [(ngModel)]="crop.grade">C
                                    </label>
                                    <label class="btn btn-default" [ngClass]="{'active': crop.grade == 'D'}">
                                        <input name="grade" value="D" type="radio" [(ngModel)]="crop.grade">D
                                    </label>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="availablefrom">Available From</label>
                            <div class="input-group">
                                <ng2-datepicker name="date" [options]="options" id="nfavailibility" name="nfavailibility" [(ngModel)]="crop.availableFrom"></ng2-datepicker>
                                <input type="number" id="availablefrom" name="availablefrom" class="form-control nopointer" placeholder="" style="pointer-events: none;" />
                             </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                         <label for="nf-qty">Availibile Period</label>
                          <div class="input-group">
                              <input type="number" id="availablePeriod" name="availablePeriod" class="form-control" aria-label="Text input with dropdown button" #availablePeriod="ngModel" [(ngModel)]="crop.availablePeriod" min="1" max="9999999999999998" placeholder="">
                               <div class="input-group-btn">
                                  <select id="select5" name="select5" class="btn btn-secondary dropdown-toggle" [(ngModel)]="crop.availableUnit">
                                    <option value="Days">Days</option>
                                    <option value="Month">Month</option>
                                    <option value="Year">Year</option>
                                 </select>
                              </div>
                            </div>
                            <div class="error-block">
                                <small *ngIf="availablePeriod.errors?.required && availablePeriod.touched" class="text-danger">
                                    Availibility Period is required.
                                </small>
                                <small *ngIf="availablePeriod.errors?.min && availablePeriod.touched" class="text-danger">
                                    Minimum 1 Day is required.
                                </small>                                                          
                                <small *ngIf="availablePeriod.errors?.max && availablePeriod.touched" class="text-danger">
                                    Maximum digit allow upto 16.
                                </small> 
                            </div>                       
                        </div>
                    </div>
                </div>
                <div class="row p10">
                    <div class="col-sm-6">
                       <div class="form-group has-required">
                            <label for="nf-supplyAbility">Supply Ability</label>
                            <div class="radiobuttons_top">
                            <div class="form-group pull-left">
                                <div class="radio_button">
                                    <input type="radio"  name="supplyAbility" class="" id="nf-rentslell" value="Yes"  [(ngModel)]="crop.supplyAbility" checked required>
                                    <label for="nf-rentslell">Yes</label>
                                </div>
                            </div>
                            <div class="form-group pull-left">
                                <div class="radio_button">                     
                                    <input type="radio" name="supplyAbility" class="" id="supplyAbility" value="No"  [(ngModel)]="crop.supplyAbility" (change)="crop.supplyArea = '';crop.supplyRange='';" required>
                                    <label for="supplyAbility">No</label>
                                </div>
                            </div>
                            </div>
                        </div>                    
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group has-required">
                            <label for="nf-supplyarea">Supply Area</label>
                            <select id="nfsupplyarea" name="nfsupplyarea" class="form-control disable" #nfsupplyarea="ngModel" [(ngModel)]="crop.supplyArea" size="1" [disabled]="crop.supplyAbility == 'No'" required>
                                <option value="">Please select</option>
                                <option value="withinstate">With In State</option>
                                <option value="anywhere">Any Where</option>
                            </select>
                            <div class="error-block">
                                <small *ngIf="nfsupplyarea.errors?.required && nfsupplyarea.touched" class="text-danger">
                                    Supply Area is required.
                                </small>                                                          
                            </div> 
                        </div>
                    </div>
                    <div class="col-sm-3">
                         <div class="form-group has-required">
                            <label for="kmrange">Supply Range (km)</label>
                            <input type="number" id="nfkmrange" name="nfkmrange" class="form-control" [(ngModel)]="crop.supplyRange" placeholder=""  #nfkmrange="ngModel" [disabled]="crop.supplyAbility == 'No'" min="1" max="9999999999999998" required>
                            <div class="error-block">
                                <small *ngIf="nfkmrange.errors?.required && nfkmrange.touched" class="text-danger">
                                    Supply Range is required.
                                </small>
                                <small *ngIf="nfkmrange.errors?.min && nfkmrange.touched" class="text-danger">
                                    Minimum Range should be 1 km.
                                </small>                                                          
                                <small *ngIf="nfkmrange.errors?.max && nfkmrange.touched" class="text-danger">
                                    Maximum Range is allow upto 16 digit.
                                </small>                                                           
                            </div> 
                       </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="nf-paymentTerms">Payment Preference</label>
                           <form class="grade">
                                <div class="btn-group">
                                    <label class="btn btn-default" [ngClass]="{'active': crop.paymentPreference == 'COD'}">
                                        <input name="payment_mode" value="COD" type="radio" [(ngModel)]="crop.paymentPreference">COD
                                    </label>
                                    <label class="btn btn-default" [ngClass]="{'active': crop.paymentPreference == 'Cheque'}">
                                        <input name="payment_mode" value="Cheque" type="radio" [(ngModel)]="crop.paymentPreference">Cheque
                                    </label>
                                    <label class="btn btn-default" [ngClass]="{'active': crop.paymentPreference == 'Net Banking'}">
                                        <input name="payment_mode" value="Net Banking" type="radio" [(ngModel)]="crop.paymentPreference">Net Banking
                                    </label>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-image">Image</label>
                            <input type="file" name="file-7[]" id="file-7" class="inputfile inputfile-6" data-multiple-caption="{count} files selected" multiple />
                            <label for="file-7"><span></span> <strong><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg> Upload image</strong></label>
                            <i class="fa fa-plus addimage"></i>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                       <div class="form-group has-required">
                            <label for="nf-verified">Verified</label>
                            <div class="radiobuttons_top">
                            <div class="form-group pull-left">
                                <div class="radio_button">
                                    <input type="radio"  name="verified" class="" id="nf-verified" value="Yes"  [(ngModel)]="crop.verified" checked required>
                                    <label for="nf-verified">Yes</label>
                                </div>
                            </div>
                            <div class="form-group pull-left">
                                <div class="radio_button">                     
                                    <input type="radio" name="verified" class="" id="verified" value="No"  [(ngModel)]="crop.verified" required>
                                    <label for="verified">No</label>
                                </div>
                            </div>
                            </div>
                        </div>                    
                    </div>
                    <div class="col-sm-6  has-required">
                        <div class="form-group">
                            <label for="nf-terms">Terms & Conditions</label>
                            <textarea type="text" id="nfterms" name="nfterms" class="form-control" [(ngModel)]="crop.terms" #nfterms="ngModel" placeholder="" rows="4" required=""></textarea>
                            <div class="error-block">
                                <small *ngIf="nfterms.errors?.required && nfterms.touched" class="text-danger">
                                    Terms & Conditions is required.
                                </small>
                            </div> 
                        </div>
                    </div>
                </div>
        </div>

        <div class="card-footer">
                    <button type="reset" class="btn btn-secondary whiteclr" [routerLink]="['/crops/list']"> Cancel</button>
                    <button type="submit" class="pull-right btn btn-primary orangeclr" [disabled]="!addCropForm.valid"  [class.disabled]="isClickedOnce"  (click)="isClickedOnce = true">{{cropID ? 'Update' : 'Save'}}</button>
                </div>
          </form>
    </div>
</div>
