<div>
     <!-- loading section -->
    <div class="aligncenter_loader" *ngIf="isLoading">
        <div class="is-loading"><i class="page-loader"></i></div>        
    </div>
    <!-- section ends  -->
    <div class="card" *ngIf="!isLoading" >
        <div class="card-header">
            <strong>{{cropID ? 'Edit' : 'Add'}} Crop</strong>
        </div>
         <form role="form" (ngSubmit)="save()" #addCropForm="ngForm">
        <div class="card-block">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="nf-name">Crop Name</label>
                            <input autofocus type="text" id="name" name="name" class="form-control" placeholder="" #name="ngModel" [(ngModel)]="crop.name" pattern="[a-zA-Z][a-zA-Z0-9!@#$%^&*()\s]*" required>
                            <div class="error-block">
                                <small *ngIf="name.errors?.required && name.touched" class="text-danger">
                                    Crop name is required.
                                </small>
                                <small *ngIf="name.errors?.pattern && name.touched" class="text-danger">
                                    Invalid input.
                                </small>                                                          
                            </div>    
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="seller">Seller</label>
                            <select id="seller" name="seller" class="form-control" size="1" [(ngModel)]="crop.seller_id">
                                <option value="">Please select</option>                                
                                <option *ngFor="let obj of sellers" value="{{obj.id}}">
                                    {{obj.username}}
                                </option>       
                            </select>
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="nf-category">Category</label>
                            <select id="nfcategory" name="nfcategory" class="form-control" size="1" #nfcategory="ngModel" [(ngModel)]="crop.category_id" required>
                                <option value="">Please select</option>
                                <option *ngFor="let cat of category" value="{{cat.id}}">{{cat.name}}</option>
                            </select>
                            <div class="error-block">
                                <small *ngIf="nfcategory.errors?.required && nfcategory.touched" class="text-danger">
                                    Category is required.
                                </small>                                                          
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-variety">Variety</label>
                            <select id="select1" name="select1" class="form-control" [(ngModel)]="crop.variety" size="1">
                                <option value="">Please select</option>
                                <option value="Variety 1">Variety 1</option>
                                <option value="Variety 2">Variety 2</option>
                                <option value="Variety 3">Variety 3</option>
                            </select>
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="nf-price">Offer Price</label>
                            <div class="input-group">
                            <div class="icnposition"><i class="fa fa-rupee"></i></div>
                            <input type="number" id="nfprice" name="nfprice" class="form-control pleft25" #nfprice="ngModel" [(ngModel)]="crop.price" placeholder="" required="" min="1" max="9999999999999998">
                            </div>
                            <div class="error-block">
                                <small *ngIf="nfprice.errors?.required && nfprice.touched" class="text-danger">
                                    Offer Price is required.
                                </small>
                                <small *ngIf="nfprice.errors?.min && nfprice.touched" class="text-danger">
                                    Minimum 1 quantity is required.
                                </small>                                                          
                                <small *ngIf="nfprice.errors?.max && nfprice.touched" class="text-danger">
                                    Maximum quantity is allow upto 16 digit.
                                </small>                                                           
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-grade">Grade</label>
    						<form class="grade">
    							<div class="btn-group" data-toggle="">
    							<label class="btn btn-default" [ngClass]="{'active': crop.grade == 'A+'}">
    							<input name="grade" value="A+" type="radio" [(ngModel)]="crop.grade" >A+
    							</label>
    							<label class="btn btn-default" [ngClass]="{'active': crop.grade == 'A'}">
    							<input name="grade" value="A" type="radio" [(ngModel)]="crop.grade">A
    							</label>
    							<label class="btn btn-default" [ngClass]="{'active': crop.grade == 'B'}">
    							<input name="grade" value="B" type="radio" [(ngModel)]="crop.grade">B
    							</label>
    							<label class="btn btn-default" [ngClass]="{'active': crop.grade == 'C'}">
    							<input name="grade" value="C" type="radio" [(ngModel)]="crop.grade">C
    							</label>
    							</div>
    						</form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="nf-color">Color</label>
                            <input type="text" id="nfcolor" name="nfcolor" class="form-control" #nfcolor="ngModel" [(ngModel)]="crop.color" placeholder="" required>
                            <div class="error-block">
                                <small *ngIf="nfcolor.errors?.required && nfcolor.touched" class="text-danger">
                                    Color is required.
                                </small>                                                          
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="nf-size">Size/Weight</label>
                            <input type="text" id="nfsize" name="nfsize" class="form-control" #nfsize="ngModel" [(ngModel)]="crop.size" placeholder="" required>
                            <div class="error-block">
                                <small *ngIf="nfsize.errors?.required && nfsize.touched" class="text-danger">
                                    Size/Weight is required.
                                </small>                                                          
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="nf-availibility">Availibility Peroid</label>
                            <input type="text" id="nfavailibility" name="nfavailibility" class="form-control" #nfavailibility="ngModel" [(ngModel)]="crop.availibility" placeholder="" required>
                            <div class="error-block">
                                <small *ngIf="nfavailibility.errors?.required && nfavailibility.touched" class="text-danger">
                                    Availibility Peroid is required.
                                </small>                                                          
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="nf-packaging">Packaging</label>
                            <select id="ngpackaging" name="ngpackaging" class="form-control" size="1" #ngpackaging="ngModel" [(ngModel)]="crop.packaging" required>
                                <option value="">Please select</option>
                                <option value="Pack 1">Pack 1</option>
                                <option value="Pack 2">Pack 2</option>
                                <option value="Pack 3">Pack 3</option>
                            </select>
                            <div class="error-block">
                                <small *ngIf="ngpackaging.errors?.required && ngpackaging.touched" class="text-danger">
                                    Packaging is required.
                                </small>                                                          
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row p10">
                    <div class="col-sm-6">
                       <div class="form-group has-required">
                            <label for="nf-supply_ablity">Supply Ability</label>
                            <div class="radiobuttons_top">
                            <div class="form-group pull-left">
                                <div class="radio_button">
                                    <input type="radio"  name="supply_ablity" class="" id="nf-rentslell" value="Yes"  [(ngModel)]="crop.supply_ablity" checked required>
                                    <label for="nf-rentslell">Yes</label>
                                </div>
                            </div>
                            <div class="form-group pull-left">
                                <div class="radio_button">                     
                                    <input type="radio" name="supply_ablity" class="" id="supply_ablity" value="No"  [(ngModel)]="crop.supply_ablity" required>
                                    <label for="supply_ablity">No</label>
                                </div>
                            </div>
                            </div>
                        </div>                    
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="nf-pack_size">Pack Size</label>
                            <input type="text" id="nfpack_size" name="nfpack_size" class="form-control" #nfpack_size="ngModel" [(ngModel)]="crop.pack_size" placeholder="" required>
                            <div class="error-block">
                                <small *ngIf="nfpack_size.errors?.required && nfpack_size.touched" class="text-danger">
                                    Pack Size is required.
                                </small>                                                          
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group has-required">
                         <label for="nf-qty">Quantity Per Pack</label>
                          <div class="input-group">
                              <input type="number" id="quantity_per_pack" name="quantity_per_pack" class="form-control" aria-label="Text input with dropdown button" #quantity_per_pack="ngModel" [(ngModel)]="crop.quantity_per_pack" min="1" max="9999999999999998" placeholder="" required>
                               <div class="input-group-btn">
                                  <select id="select4" name="select4" class="btn btn-secondary dropdown-toggle" [(ngModel)]="crop.unit" required>
                                    <option value="Kg">Kg</option>
                                    <option value="Tonnes">Tonnes</option>
                                    <option value="Quintal">Quintal</option>
                                 </select>
                              </div>
                            </div>
                            <div class="error-block">
                                <small *ngIf="quantity_per_pack.errors?.required && quantity_per_pack.touched" class="text-danger">
                                    Quantity Per Pack is required.
                                </small>
                                <small *ngIf="quantity_per_pack.errors?.min && quantity_per_pack.touched" class="text-danger">
                                    Minimum 1 quantity is required.
                                </small>                                                          
                                <small *ngIf="quantity_per_pack.errors?.max && quantity_per_pack.touched" class="text-danger">
                                    Maximum quantity is allow upto 16 digit.
                                </small> 
                            </div>                       
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="nf-label">Label/Making on Pack</label>
                            <input type="text" id="nflabel" name="nflabel" class="form-control" #nflabel="ngModel" [(ngModel)]="crop.label" placeholder="" required>
                            <div class="error-block">
                                <small *ngIf="nflabel.errors?.required && nflabel.touched" class="text-danger">
                                        Label/Making on Pack is required.
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="nf-average_lead_time">Average Lead Time</label>
                            <div class="input-group">
                                <input type="number" id="average_lead_time" name="average_lead_time" class="form-control" aria-label="Amount (to the nearest dollar)" #average_lead_time="ngModel" [(ngModel)]="crop.average_lead_time" min="1" max="9999999999999998" required>
                                <span class="input-group-addon width">Days</span>
                            </div>
                            <div class="error-block">
                                <small *ngIf="average_lead_time.errors?.required && average_lead_time.touched" class="text-danger">
                                    Average Lead Time is required.
                                </small>
                                <small *ngIf="average_lead_time.errors?.min && average_lead_time.touched" class="text-danger">
                                    Minimum 1 quantity is required.
                                </small>                                                          
                                <small *ngIf="average_lead_time.errors?.max && average_lead_time.touched" class="text-danger">
                                    Maximum quantity is allow upto 16 digit.
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="nf-additional_info">Additional Information</label>
                            <textarea type="text" id="nfadditional_info" name="nfadditional_info" class="form-control"  #nfadditional_info="ngModel" [(ngModel)]="crop.additional_info" placeholder="" rows="4" required ></textarea>
                            <div class="error-block">
                                <small *ngIf="nfadditional_info.errors?.required && nfadditional_info.touched" class="text-danger">
                                   Additional Information is required.
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="nf-paymentTerms">Payment Preference</label>
                           <form class="grade">
                                <div class="btn-group">
                                    <label class="btn btn-default" [ngClass]="{'active': crop.payment_method == 'COD'}">
                                    <input name="payment_mode" value="COD" type="radio" [(ngModel)]="crop.payment_method">COD
                                    </label>
                                    <label class="btn btn-default" [ngClass]="{'active': crop.payment_method == 'Cheque'}">
                                    <input name="payment_mode" value="Cheque" type="radio" [(ngModel)]="crop.payment_method">Cheque
                                    </label>
                                    <label class="btn btn-default" [ngClass]="{'active': crop.payment_method == 'Net Banking'}">
                                    <input name="payment_mode" value="Net Banking" type="radio" [(ngModel)]="crop.payment_method">Net Banking
                                    </label>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-terms">Terms & Conditions</label>
                            <textarea type="text" id="nf-terms" name="nf-terms" class="form-control" [(ngModel)]="crop.terms" placeholder="" rows="4" [disabled]="true"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-image">Image</label>
                            <input type="file" name="file-7[]" id="file-7" class="inputfile inputfile-6" data-multiple-caption="{count} files selected" multiple />
                            <label for="file-7"><span></span> <strong><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg> Upload image</strong></label>
                            <i class="fa fa-plus addimage"></i>
                        </div>
                    </div>
                </div>
        </div>

        <div class="card-footer">
                    <button type="reset" class="btn btn-secondary whiteclr" [routerLink]="['/crop/list']"> Cancel</button>
                    <button type="submit" class="pull-right btn btn-primary orangeclr" [disabled]="!addCropForm.valid"  [class.disabled]="isClickedOnce"  (click)="isClickedOnce = true">{{cropID ? 'Update' : 'Save'}}</button>
                </div>
          </form>
    </div>
</div>
