<div class="equipment-wrapper">
 
    <!-- loading section -->
    <div class="aligncenter_loader" *ngIf="isLoading">
        <div class="is-loading"><i class="page-loader"></i></div>        
    </div>
    <!-- section ends  -->

    <div class="card" *ngIf="!isLoading">
        <div class="card-header">
            <strong>{{action}} Equipment</strong>
        </div>

         <form role="form" (ngSubmit)="submitEquipment()" #addEquipmentForm="ngForm">
        <div class="card-block">
           
                
               <div *ngIf="showMessage" class="alert alert-success alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert"  (click)="closeMessage()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>Success</strong> Equipment added successfully.
                </div>
                
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="nf-name">Equipment Name</label>
                            <input type="text" autofocus id="name"  maxlength="20" name="name" #name="ngModel" pattern="[a-zA-Z][a-zA-Z0-9!@#$%^&*()\s]*" class="form-control" [(ngModel)]="equipment.name" required>                            
                            <div class="error-block">
                                <small *ngIf="name.errors?.required && name.touched" class="text-danger">
                                    Name is required.
                                </small>                          
                                <small *ngIf="name.errors?.maxlength && name.touched" class="text-danger">
                                    Maximum of 20 characters.
                                </small>
                                <small *ngIf="name.errors?.pattern && name.touched" class="text-danger">
                                    Invalid input.
                                </small>
                            </div>                                
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group  has-required">
                            <label for="rentSell">Type</label>
                            <div class="radiobuttons_top">
                                <div class="form-group pull-left">
                                    <div class="radio_button">
                                        <input type="radio"  name="rentSell" class="" id="nf-rentslell" value="rent"  [(ngModel)]="equipment.rentSell" checked required>
                                        <label for="nf-rentslell">Rent</label>
                                    </div>
                                </div>                           
                                <div class="form-group pull-left">
                                    <div class="radio_button">                     
                                        <input type="radio" name="rentSell" class="" id="rentSell" value="sell"  [(ngModel)]="equipment.rentSell" required>
                                        <label for="rentSell">Sell</label>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>                   
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="availablefrom">Available From</label>
                             <div class="input-group form-control" [ngClass]="{'form-control': equipment.rentSell != 'sell'}">
                                <ng2-datepicker name="date" [options]="options" id="nfavailibility" name="nfavailibility" [(ngModel)]="equipment.availableFrom"  *ngIf="equipment.rentSell != 'sell'"></ng2-datepicker>
                                <input type="number" id="availablefrom" name="availablefrom" class="form-control nopointer" placeholder="" style="pointer-events: none;" *ngIf="equipment.rentSell == 'sell'" [disabled]="equipment.rentSell == 'sell'"  />
                             </div>                          
                        </div>
                    </div>
                      <div class="col-sm-6">
                         <div class="form-group">
                            <label for="avalibilityperiod">Availibility Period</label>
                            <div class="input-group">                                
                                <input type="number" id="avalibilityperiod" [disabled]="equipment.rentSell == 'sell'" name="avalibilityperiod" class="form-control pleft25" #rate="ngModel" [(ngModel)]="equipment.avalibilityperiod" placeholder="" required />
                                <div class="input-group-btn" >
                                    <select class="disable btn btn-secondary dropdown-toggle"  [disabled]="equipment.rentSell == 'sell'" [(ngModel)]="equipment.avalibilityperiodUnits" name="avalibilityperiodUnits">
                                        <option>Hour</option>
                                        <option>Days</option>
                                        <option>Week</option>
                                        <option>Month</option>
                                    </select>
                                </div>

                            </div> 
                                                                        
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="seller">Seller</label>
                            <select id="seller" name="user_id" class="form-control" size="1" [(ngModel)]="equipment.user_id" #user_id="ngModel" required>
                                <option value="">Please select</option>
                                <option *ngFor="let seller of sellers" value="{{seller.id}}">
                                    {{seller.username}}
                                </option> 
                                <div class="error-block">
                                    <small *ngIf="user_id.errors?.required && user_id.touched" class="text-danger">
                                        Seller is required.
                                    </small>                                                          
                                </div>      
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="address">Address</label>
                            <input type="text" id="address" name="address" #address="ngModel"  class="form-control" [(ngModel)]="equipment.address" placeholder="" required />
                            <div class="error-block">
                                <small *ngIf="address.errors?.required && address.touched" class="text-danger">
                                    Address is required.
                                </small>                                                          
                            </div> 
                        </div>                                    
                    </div> 
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="nf-city">City/Village</label>
                            <input type="text" id="nf-city" name="city" #city="ngModel" class="form-control" [(ngModel)]="equipment.city" placeholder="" required>
                            <div class="error-block">
                                <small *ngIf="city.errors?.required && city.touched" class="text-danger">
                                    City is required.
                                </small>                                                          
                            </div> 
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="nf-district">District</label>
                            <input type="text" id="nf-district" name="district" #district="ngModel" class="form-control" [(ngModel)]="equipment.district" placeholder="" required>
                            <div class="error-block">
                                <small *ngIf="district.errors?.required && district.touched" class="text-danger">
                                    District is required.
                                </small>                                                          
                            </div> 
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="state">State</label>
                            <select id="state" name="state"  [(ngModel)]="equipment.state" placeholder="" required class="form-control" size="1" #state="ngModel" required>
                                <option value="">Select State</option>
                                <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                                <option value="Andhra Pradesh">Andhra Pradesh</option>
                                <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                <option value="Assam">Assam</option>
                                <option value="Bihar">Bihar</option>
                                <option value="Chandigarh">Chandigarh</option>
                                <option value="Chhattisgarh">Chhattisgarh</option>
                                <option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
                                <option value="Daman and Diu">Daman and Diu</option>
                                <option value="Delhi">Delhi</option>
                                <option value="Goa">Goa</option>
                                <option value="Gujarat">Gujarat</option>
                                <option value="Haryana">Haryana</option>
                                <option value="Himachal Pradesh">Himachal Pradesh</option>
                                <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                                <option value="Jharkhand">Jharkhand</option>
                                <option value="Karnataka">Karnataka</option>
                                <option value="Kerala">Kerala</option>
                                <option value="Lakshadweep">Lakshadweep</option>
                                <option value="Madhya Pradesh">Madhya Pradesh</option>
                                <option value="Maharashtra">Maharashtra</option>
                                <option value="Manipur">Manipur</option>
                                <option value="Meghalaya">Meghalaya</option>
                                <option value="Mizoram">Mizoram</option>
                                <option value="Nagaland">Nagaland</option>
                                <option value="Orissa">Orissa</option>
                                <option value="Pondicherry">Pondicherry</option>
                                <option value="Punjab">Punjab</option>
                                <option value="Rajasthan">Rajasthan</option>
                                <option value="Sikkim">Sikkim</option>
                                <option value="Tamil Nadu">Tamil Nadu</option>
                                <option value="Tripura">Tripura</option>
                                <option value="Uttaranchal">Uttaranchal</option>
                                <option value="Uttar Pradesh">Uttar Pradesh</option>
                                <option value="West Bengal">West Bengal</option>
                            </select>
                            <div class="error-block">
                                <small *ngIf="state.errors?.required && state.touched" class="text-danger">
                                    State is required.
                                </small>                                                          
                            </div> 
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="nf-pincode">Pin Code </label>
                            <input type="number" id="nf-pincode" name="pincode" #pincode="ngModel" class="form-control" [(ngModel)]="equipment.pincode" max="999999" placeholder="" required>
                        </div>
                        <div class="error-block">
                            <small *ngIf="pincode.errors?.required && pincode.touched" class="text-danger">
                                Pin is required.
                            </small>                                                          
                        </div> 
                    </div>
                </div>
                <div class="row">                    
                    <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="category">Category</label>                            
                            <select id="category" name="category"  class="form-control" size="1" #category_id="ngModel" [(ngModel)]="equipment.category_id" required>
                                <option value="">Please select</option>                                
                                <option *ngFor="let cat of category" [value]="cat.id">
                                    {{cat.name}}
                                </option>       
                            </select>
                              
                            <div class="error-block">
                                <small *ngIf="category_id.errors?.required && category_id.touched" class="text-danger">
                                    Category is required.
                                </small>                                                          
                            </div>      
                            
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="variety">Variety</label>
                            <select id="variety" name="variety" class="form-control" [(ngModel)]="equipment.variety" size="1" required>
                                <option value="">Please select</option>
                                <option value="variety 1">variety 1</option>
                                <option value="variety 2">variety 2</option>
                                <option value="variety 3">variety 3</option>
                            </select>
                        </div>
                    </div>                    
                </div>
                  <div class="row">                    
                    <div class="col-sm-6">
                       <div class="form-group has-required">
                            <label for="companyManufacturer">Company/Manufacturer</label>
                            <select id="companyManufacturer" name="companyManufacturer" class="form-control" [(ngModel)]="equipment.companyManufacturer" size="1">
                                <option value="">Please select</option>
                                <option value="Manufacturer 1">Manufacturer 1</option>
                                <option value="Manufacturer 2">Manufacturer 2</option>
                                <option value="Manufacturer 3">Manufacturer 3</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                         <div class="form-group">
                            <label for="modelyear">Model year</label>
                            <select id="modelyear" name="modelyear" class="form-control" size="1" [(ngModel)]="equipment.modelyear">
                                <option value="">Please select</option>
                                <option *ngFor="let year of years" value="{{year}}">{{year}}</option>                                                                
                            </select>
                        </div>
                    </div>                    
                </div>
                <div class="row">
                  <div class="col-sm-6">
                        <div class="form-group">
                            <label for="model">Model</label>                          
                            <input type="text" id="model" name="model" class="form-control" [(ngModel)]="equipment.model" placeholder="" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="rentSell">Price</label>
                            <div class="input-group">
                                <div class="icnposition"><i class="fa fa-rupee"></i></div>
                                <input type="number" id="price" name="price" class="form-control pleft25" #rate="ngModel" [(ngModel)]="equipment.rate" placeholder="" required />                                  
                                
                                <div class="input-group-btn" *ngIf="equipment.rentSell != 'sell'">
                                    <select class="btn btn-secondary dropdown-toggle" [(ngModel)]="equipment.price_unit" name="price_unit">
                                        <option>Hour</option>
                                        <option>Days</option>
                                        <option>Week</option>
                                        <option>Month</option>
                                    </select>
                                </div>

                            </div> 
                            <div class="error-block">
                                <small *ngIf="rate.errors?.required && rate.touched" class="text-danger">
                                    Price is required.
                                </small>
                            </div>                                             
                        </div>
                    </div>
                </div>
                <div class="row">                   
                    <div class="col-sm-6">
                       <div class="form-group has-required">
                            <label for="quantity">Quantity</label>
                            <div class="input-group">                                
                                <input type="number" id="quantity" name="quantity" min="1" class="form-control pleft25" #rate="ngModel" [(ngModel)]="equipment.quantity" placeholder="" required />                                                                  
                              

                            </div> 
                                                                        
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="nf-supply_ablity">Supply Ability</label>
                            <div class="radiobuttons_top">
                                <div class="form-group pull-left">
                                    <div class="radio_button">
                                        <input type="radio"  name="supply_ablity" class="" id="nf-supply_ablity" value="Yes"  [(ngModel)]="equipment.supply_ablity" checked required>
                                        <label for="nf-supply_ablity">Yes</label>
                                    </div>
                                </div>
                                <div class="form-group pull-left">
                                    <div class="radio_button">                     
                                        <input type="radio" name="supply_ablity" class="" id="supply_ablity" value="No"  (click)="equipment.supply_area='';equipment.kmrange=''" [(ngModel)]="equipment.supply_ablity" required>
                                        <label for="supply_ablity">No</label>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                                       
                </div>    
                  <div class="row">                   
                    <div class="col-sm-6">
                         <div class="form-group has-required">
                            <label for="nf-paymentTerms">Payment Preference</label>
                           <form class="grade">
                                <div class="btn-group">
                                    <label class="btn btn-default" [ngClass]="{'active': equipment.payment_method == 'COD'}">
                                    <input name="payment_mode" value="COD" type="radio" [(ngModel)]="equipment.payment_method">COD
                                    </label>
                                    <label class="btn btn-default" [ngClass]="{'active': equipment.payment_method == 'Cheque'}">
                                    <input name="payment_mode" value="Cheque" type="radio" [(ngModel)]="equipment.payment_method">Cheque
                                    </label>
                                    <label class="btn btn-default" [ngClass]="{'active': equipment.payment_method == 'Net Banking'}">
                                    <input name="payment_mode" value="Net Banking" type="radio" [(ngModel)]="equipment.payment_method">Net Banking
                                    </label>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-sm-3">
                         <div class="form-group">
                            <label for="supplyarea">Supply Area</label>
                            <select id="supplyarea" name="supply_area" [disabled]="equipment.supply_ablity == 'No'" class="disable form-control" [(ngModel)]="equipment.supply_area" size="1">
                                <option value="">Please select</option>
                                <option value="withinstate">With In State</option>
                                <option value="anywhere">Any Where</option>                                
                            </select>
                        </div>
                    </div> 
                    <div class="col-sm-3">
                         <div class="form-group">
                            <label for="kmrange">Supply Range(km)</label>
                            <input type="number" id="kmrange" [disabled]="equipment.supply_ablity == 'No'" name="kmrange" class="form-control" [(ngModel)]="equipment.kmrange" />
                        </div>
                    </div>                                 
                                        
                </div>                        
                       
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="description">Description</label>
                            <textarea type="text" id="description" name="description" class="form-control" #description="ngModel" [(ngModel)]="equipment.description" placeholder="" rows="4" required></textarea>
                            <div class="error-block">
                                <small *ngIf="description.errors?.required && description.touched" class="text-danger">
                                    Description is required.
                                </small>                                                          
                            </div>    
                        </div>
                       
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="termsConditions">Terms & Conditions</label>
                            <textarea type="text" id="termsConditions" name="termsConditions" class="form-control" [(ngModel)]="equipment.termsConditions" placeholder="" rows="4" ></textarea>
                        </div>
                    </div>
                </div>
                 <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-image">Image</label>
                            <input type="file" name="file-7[]" id="file-7" class="inputfile inputfile-6" data-multiple-caption="{count} files selected" multiple />
                            <label for="file-7"><span></span> <strong><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg> Upload image</strong></label>
                            <i class="fa fa-plus addimage"></i>
                        </div>
                    </div>

                    <div class="col-sm-6">
                         <div class="form-group  has-required">
                            <label for="nf-verified">Verified</label>
                            <div class="radiobuttons_top">
                                <div class="form-group pull-left">
                                    <div class="radio_button">
                                        <input type="radio"  name="verified" class="" id="nf-verified" value="Yes"  [(ngModel)]="equipment.verified" checked required>
                                        <label for="nf-verified">Yes</label>
                                    </div>
                                </div>
                                <div class="form-group pull-left">
                                    <div class="radio_button">                     
                                        <input type="radio" name="verified" class="" id="verified" value="No"  [(ngModel)]="equipment.verified" required>
                                        <label for="verified">No</label>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>        
                             
           
        </div>
         <div class="card-footer">                       
                    <button type="reset" class="btn btn-secondary whiteclr" [routerLink]="['/equipment/list']"> Cancel</button>
                    <button type="submit" class="pull-right btn btn-primary orangeclr" [disabled]="!addEquipmentForm.valid"  [class.disabled]="isClickedOnce"  (click)="isClickedOnce = true">{{action == 'Add' ? 'Save' : 'Update'}}</button>
                </div> 
                </form>
    </div> <!-- .card -->
     
</div> <!-- .equipment-wrapper -->