<div class="equipment-wrapper">
 
    <!-- loading section -->
    <div class="aligncenter_loader" *ngIf="isLoading">
        <div class="is-loading"><i class="page-loader"></i></div>        
    </div>
    <!-- section ends  -->

    <div class="card" *ngIf="!isLoading">
        <div class="card-header">
            <strong>{{action}} Equipment</strong>
        </div>
        <div class="card-block">
            <form role="form" (ngSubmit)="submitEquipment()" #addEquipmentForm="ngForm">
                
               <div *ngIf="showMessage" class="alert alert-success alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert"  (click)="closeMessage()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>Success</strong> Equipment added successfully.
                </div>
                
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="nf-name">Equipment Name</label>
                            <input type="text" autofocus id="name" name="name" class="form-control" [(ngModel)]="equipment.name" required>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="category">Category</label>                            
                            <select id="category" name="category"  class="form-control" size="1" [(ngModel)]="equipment.category_id" required>
                                <option value="">Please select</option>                                
                                <option *ngFor="let cat of category" [value]="cat.id">
                                    {{cat.name}}
                                </option>       
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="companyManufacturer">Company/Manufacturer</label>
                            <select id="companyManufacturer" name="companyManufacturer" class="form-control" [(ngModel)]="equipment.companyManufacturer" size="1" required>
                                <option value="">Please select</option>
                                <option value="1">Variety 1</option>
                                <option value="2">Variety 2</option>
                                <option value="3">Variety 3</option>
                            </select>
                        </div>
                    </div>
                      <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="model">Model</label>
                           <!--  <select id="model" name="model" class="form-control" size="1" [(ngModel)]="equipment.model" required>
                                <option value="">Please select</option>
                                <option value="1">Option #1</option>
                                <option value="2">Option #2</option>
                                <option value="3">Option #3</option>
                            </select> -->
                            
                            <input type="text" id="model" name="model" class="form-control" [(ngModel)]="equipment.model" placeholder="" />

                        </div>
                    </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                        <div class="form-group">
                            <label for="modelyear">Model year</label>
                            <select id="modelyear" name="modelyear" class="form-control" size="1" [(ngModel)]="equipment.modelyear">
                                <option value="">Please select</option>
                                <option *ngFor="let year of years" value="{{year}}">{{year}}</option>                                                                
                            </select>
                        </div>
                    </div>
                
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="enginePower">Engine Power</label>
                            <input type="text" id="enginePower" name="enginePower" class="form-control" [(ngModel)]="equipment.enginepower" placeholder="" />
                        </div>
                    </div>
                </div>
                 <div class="row p10">
                    <div class="col-sm-6">
                       <div class="form-group radiobuttons_top">
                            <div class="form-group pull-left">
                                <div class="radio_button">
                                    <input type="radio"  name="rentSell" class="" id="nf-rentslell" value="rent"  [(ngModel)]="equipment.rentSell" checked required>
                                    <label for="nf-rentslell">Rent</label>
                                </div>
                            </div>
                           
                            <div class="form-group pull-left">
                                <div class="radio_button">                     
                                    <input type="radio" name="rentSell" class="" id="rentSell" value="sell"  [(ngModel)]="equipment.rentSell" required>
                                    <label for="rentSell">Sell</label>
                                </div>
                            </div>
                        </div>                    
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group has-required">
                            <div class="input-group">
                                <div class="icnposition"><i class="fa fa-rupee"></i></div>
                                <input type="text" id="nf-quantity_per_pack" name="quantity_per_pack" class="form-control pleft25" aria-label="Text input with dropdown button" [(ngModel)]="equipment.rate" placeholder="Enter Rate">                                
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    hr
                                    </button>
                                </div>
                            </div>                       
                        </div>
                    </div>
                </div>
                <div class="row">                   
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="termsConditions">Quantity</label>
                            <input type="number" min="1" id="quantity" name="quantity" class="form-control" [(ngModel)]="equipment.quantity" placeholder="" />
                        </div>
                    </div>
                     <div class="col-sm-6">
                        <div class="form-group  has-required">
                            <label for="user">User</label>
                            <select id="user" name="user" class="form-control" size="1" [(ngModel)]="equipment.user_id" required>
                                <option value="">Please select</option>                                
                                <option *ngFor="let user of users" [value]="user.id">
                                    {{user.username}}
                                </option>       
                            </select>
                        </div>
                    </div>
                </div>                
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="usage">Usage</label>
                            <textarea type="text" id="usage" name="usage" class="form-control" [(ngModel)]="equipment.usage" placeholder="" rows="4" required></textarea>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="description">Description</label>
                            <textarea type="text" id="description" name="description" class="form-control" [(ngModel)]="equipment.description" placeholder="" rows="4" required></textarea>
                        </div>
                    </div>
                </div>                
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-image">Image</label>
                            <input type="file" name="file-7[]" id="file-7" class="inputfile inputfile-6" data-multiple-caption="{count} files selected" multiple />
                            <label for="file-7"><span></span> <strong><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg> Upload image</strong></label>
                            <i class="fa fa-plus addimage"></i>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="termsConditions">Terms & Conditions</label>
                            <textarea type="text" id="termsConditions" name="termsConditions" class="form-control" [(ngModel)]="equipment.termsConditions" placeholder="" rows="4" [disabled]="true"></textarea>
                        </div>
                    </div>
                </div>
                <div class="card-footer">                       
                    <button type="reset" class="btn btn-secondary whiteclr" [routerLink]="['/equipment/list']"> Cancel</button>
                    <button type="submit" class="pull-right btn btn-primary orangeclr" [disabled]="!addEquipmentForm.valid"  [class.disabled]="isClickedOnce"  (click)="isClickedOnce = true">{{action == 'Add' ? 'Save' : 'Update'}}</button>
                </div>               
            </form>
        </div>
    </div> <!-- .card -->
</div> <!-- .equipment-wrapper -->