<div> 
   
   <div class="row">
        <div class="col-lg-2 col-6"> 
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="icon"> 
              <!--<i class="ion ion-bag"></i>--> 
              <i class="icon-Shape-13"></i> </div>
            <div class="inner">
              <p>Crops</p>
            </div>
          </div>
        </div>
        <!-- col -->
        <div class="col-lg-2 col-6"> 
          <!-- small box -->
          <div class="small-box bg-aqua" [routerLink]="['/input/list']">
            <div class="inner">
              <p>Inputs</p>
            </div>
            <div class="icon"> <i class="icon-Shape-18"></i> </div>
          </div>
        </div>
        <!-- col -->
        <div class="col-lg-2 col-6"> 
          <!-- small box -->
          <div class="small-box bg-red">
            <div class="inner">
              <p>Equipments</p>
            </div>
            <div class="icon"> <i class="icon-Shape-19"> </i> </div>
          </div>
        </div>
        <!-- col -->
        <div class="col-lg-2 col-6"> 
          <!-- small box -->
          <div class="small-box bg-yellow">
            <div class="inner">
              <p>Lands</p>
            </div>
            <div class="icon"> <i class="icon-Shape-21"> </i> </div>
          </div>
        </div>
        <!-- col --> 
        
        <!-- col -->
        <div class="col-lg-2 col-6"> 
          <!-- small box -->
          <div class="small-box bg-purple">
            <div class="inner">
              <p>Services</p>
            </div>
            <div class="icon"> <i class="icon-Shape-22"> </i> </div>
          </div>
        </div>
        <!-- col --> 
        
        <!-- col -->
        <div class="col-lg-2 col-6">
          <div class="small-box bg-teal" [routerLink]="['/user/list']">
            <div class="inner">
              <p>Users</p>
            </div>
            <div class="icon"> <i class="fa fa-user"></i> </div>
          </div>
        </div>
        <!-- col --> 
        
      </div>
      
      
      <div class="row">
      <div class="col-12 col-lg-12">
      <div class="content-header">
        <ol class="breadcrumb">
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Crop Management</a></li>
          <li class="active"><a href="#">List</a></li>
        </ol>
      </div>
          </div>
    </div>
      
    <div class="card">
        <div class="card-header">
        <div class="row">
        <div class="col-3">
      <!--  <input type="text" name="" placeholder="Search..." [(ngModel)]="search" (ngModelChange)="doSomething($event)">-->
        
        <form action="#" class="pull-left ng-untouched ng-pristine ng-valid" method="get">
        <div class="input-group">
          <input class="form-control" name="q" placeholder="Search..." type="text">
          <span class="input-group-btn">
          <button class="btn btn-flat" id="search-btn" name="search" type="submit"><i class="fa fa-search"></i> </button>
          </span> </div>
      </form>
      
            </div>
       <div class="col-9 text-right">
        <button type="button" class="btn btn-success btnadd" [routerLink]="['/crop/add']">Add Crop</button>
        <div class="icns">
                     <a href="#"><img src="assets/img/pdf.png" alt="pdf"></a>
                     <a href="#"><img src="assets/img/xls.png" alt="pdf"></a>
              </div>
            </div>
            </div>
        </div>
        <ng-table [config]="config"
                  (tableChanged)="onChangeTable(config)"
                  (cellClicked)="onCellClick($event)"
                  [rows]="rows" [columns]="columns">
        </ng-table>
        <pagination *ngIf="config.paging"
                    class="pagination-sm"
                    [(ngModel)]="page"
                    [totalItems]="length"
                    [itemsPerPage]="itemsPerPage"
                    [maxSize]="maxSize"
                    [boundaryLinks]="true"
                    [rotate]="false"
                    (pageChanged)="onChangeTable(config, $event)"
                    (numPages)="numPages = $event">
        </pagination>
        <!--<pre *ngIf="config.paging" class="card card-block card-header">Page: {{page}} / {{numPages}}</pre>-->
    </div>
</div>

<!-- <div> 
    <div class="card">
        <div class="card-header">
        <input type="text" name="" placeholder="Search..." [(ngModel)]="search" (ngModelChange)="doSomething($event)">
        <button type="button" class="btn btn-success pull-right" [routerLink]="['/crop/add']">Add Crop</button>
        </div>
        <ng-table [config]="config"
                  (tableChanged)="onChangeTable(config)"
                  (cellClicked)="onCellClick($event)"
                  [rows]="rows" [columns]="columns">
        </ng-table>
        <pagination *ngIf="config.paging"
                    class="pagination-sm"
                    [(ngModel)]="page"
                    [totalItems]="length"
                    [itemsPerPage]="itemsPerPage"
                    [maxSize]="maxSize"
                    [boundaryLinks]="true"
                    [rotate]="false"
                    (pageChanged)="onChangeTable(config, $event)"
                    (numPages)="numPages = $event">
        </pagination>
        <pre *ngIf="config.paging" class="card card-block card-header">Page: {{page}} / {{numPages}}</pre>
    </div>
</div> -->