<div class="land-wrapper">
    
    <div class="card">
        <div class="card-header">
            <strong>{{action}} Land</strong>
        </div>
                    <form role="form" (ngSubmit)="submitLand()" #addlandForm="ngForm">

        <div class="card-block">
                
               <div *ngIf="showMessage" class="alert alert-success alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert"  (click)="closeMessage()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>Success</strong> Land Added Successfully.
                </div>
                
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group  has-required">
                            <label for="nf-name">Owner Name</label>
                            <input autofocus=""  type="text" id="nf-name" name="nf-name" class="form-control" placeholder="Enter Name" [(ngModel)]="land.name" required>
                        </div>
                    </div>
                    <div class="col-sm-6">
                       <div class="form-group  radiobuttons_top44">
                            <div class="form-group pull-left">
                                <div class="radio_button">
                                    <input type="radio"  name="rentSell" class="" id="nf-rentslell" value="rent"  [(ngModel)]="land.rentSell" checked required>
                                    <label for="nf-rentslell">Rent</label>
                                </div>
                            </div>
                           
                            <div class="form-group pull-left">
                                <div class="radio_button">                     
                                    <input type="radio" name="rentSell" class="" id="rentSell" value="sell"  [(ngModel)]="land.rentSell" required>
                                    <label for="rentSell">Sell</label>
                                </div>
                            </div>
                        </div>                    
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group  has-required">
                            <label for="nf-variety">Location</label>
                            <select id="select1" name="select1" class="form-control" [(ngModel)]="land.location" size="1" required>
                                <option selected="" value="0">Please select</option>
                                <option value="location 1">location 1</option>
                                <option value="location 2">location 2</option>
                                <option value="location 3">location 3</option>
                            </select>
                        </div>
                    </div>
                      <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="nf-area">Area</label>
                            <div class="input-group">
                              <input type="text" id="nf-area" name="area" class="form-control" aria-label="Text input with dropdown button" [(ngModel)]="land.area" placeholder="Enter Bigha" required>
                              <div class="input-group-btn">
                                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Bigha
                                </button>
                              </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group has-required">
                        <label for="nf-password">Khasra no</label>
                        <input type="number" id="nf-khasra" name="nf-khasra" class="form-control" [(ngModel)]="land.khasra_no" required maxlength="20">
                    </div>
                </div>
                
                    <div class="col-sm-6">
                    <div class="form-group has-required">
                            <label for="nf-price">Expected price <i class="fa fa-rupee"></i></label>
                            <input maxlength="10" type="number" id="nf-expected_price" name="nf-expected_price" class="form-control" [(ngModel)]="land.expected_price" placeholder="Enter expected price" required>
                        </div>
                    </div>
                </div>
                 
                  <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-description">Description</label>
                            <textarea type="text" id="nf-description" name="nf-description" class="form-control" [(ngModel)]="land.description" placeholder="Enter Description" rows="4"></textarea>
                        </div>
                    </div>
                
                
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-termsConditions">Terms & Conditions</label>
                            <textarea type="text" id="nf-termsConditions" name="nf-termsConditions" class="form-control" [(ngModel)]="land.term_condition" placeholder="Enter Terms & Conditions" rows="4" [disabled]="true"></textarea>
                        </div>
                    </div>
                </div>
                
          
        </div>

        <div class="card-footer">
                    <button type="reset" class="btn btn-secondary whiteclr" [routerLink]="['/land/list']"> Cancel</button>
                    <button type="submit" class="pull-right btn btn-primary orangeclr" [disabled]="!addlandForm.valid">{{Id ? 'Update' : 'Save'}}</button>
                    
                </div>
                </form>  
    </div> <!-- .card -->
</div> <!-- .inputs-wrapper -->