<div>
    <div class="row">
        <div class="col-lg-2 col-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="icon">
                    <!--<i class="ion ion-bag"></i>-->
                    <i class="icon-Shape-13"></i> </div>
                <div class="inner">
                    <p>Crops</p>
                </div>
            </div>
        </div>
        <!-- col -->
        <div class="col-lg-2 col-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <p>Inputs</p>
                </div>
                <div class="icon"> <i class="icon-Shape-18"></i> </div>
            </div>
        </div>
        <!-- col -->
        <div class="col-lg-2 col-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <p>Equipments</p>
                </div>
                <div class="icon"> <i class="icon-Shape-19"> </i> </div>
            </div>
        </div>
        <!-- col -->
        <div class="col-lg-2 col-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <p>Lands</p>
                </div>
                <div class="icon"> <i class="icon-Shape-21"> </i> </div>
            </div>
        </div>
        <!-- col -->
        <!-- col -->
        <div class="col-lg-2 col-6">
            <!-- small box -->
            <div class="small-box bg-purple">
                <div class="inner">
                    <p>Services</p>
                </div>
                <div class="icon"> <i class="icon-Shape-22"> </i> </div>
            </div>
        </div>
        <!-- col -->
        <!-- col -->
        <div class="col-lg-2 col-6">
            <div class="small-box bg-teal">
                <div class="inner">
                    <p>Users</p>
                </div>
                <div class="icon"> <i class="fa fa-user"></i> </div>
            </div>
        </div>
        <!-- col -->
    </div>
    <div class="row">
        <div class="col-12 col-lg-12">
            <div class="content-header">
                <ol class="breadcrumb">
                    <li><a href="#">Dashboard</a></li>
                    <li><a href="#">User Management</a></li>
                    <li class="active"><a href="#">Add new</a></li>
                </ol>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <strong>Add User</strong>
        </div>
        <div class="card-block">
            <form role="form" (ngSubmit)="addUser()" #dailyExpenseForm="ngForm">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-name">First Name*</label>
                            <input type="text" id="nf-name" name="nf-name" class="form-control" placeholder="Enter Name" [(ngModel)]="user.first_name" required>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-password">Last Name*</label>
                            <input type="text" id="nf-name" name="nf-name" class="form-control" placeholder="Enter Name" [(ngModel)]="user.last_name" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-password">Phone*</label>
                            <input type="text" id="nf-phone" name="nf-phone" class="form-control" placeholder="Enter Phone" [(ngModel)]="user.phone" required>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-email">Email*</label>
                            <input type="text" id="nf-email" name="nf-email" class="form-control" [(ngModel)]="user.email" placeholder="Enter Color" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-city">City/Village*</label>
                            <input type="text" id="nf-city" name="nf-city" class="form-control" [(ngModel)]="user.city" placeholder="Enter Grade" required="">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-pincode">Pincode*</label>
                            <input type="text" id="nf-pincode" name="nf-pincode" class="form-control" [(ngModel)]="user.pincode" placeholder="Enter Pincode">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-stage">State*</label>
                            <input type="text" id="nf-stage" name="nf-stage" class="form-control" [(ngModel)]="user.stage" placeholder="Enter Stage" required="">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-district">Disrict*</label>
                            <input type="text" id="nf-district" name="nf-district" class="form-control" [(ngModel)]="user.district" placeholder="Enter Pincode">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-image">Image</label>
                            <input type="file" name="" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="reset" class="btn btn-danger"><i class="fa fa-ban"></i> Reset</button>
                    <button type="submit" class="pull-right btn btn-primary"><i class="fa fa-dot-circle-o"></i> Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
