<div>
    <div class="row">
        <div class="col-12 col-lg-12">
            <div class="content-header">
                <ol class="breadcrumb">
                    <li><a href="#">Dashboard</a></li>
                    <li><a href="#">User Management</a></li>
                    <li class="active"><a href="#">View</a></li>
                </ol>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <strong>View User</strong>
        </div>
        <div class="card-block">
            <form role="form" (ngSubmit)="save()" #dailyExpenseForm="ngForm">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="nf-name">First Name</label>
                            <input type="text" id="nf-name" name="nf-name" class="form-control" placeholder="Enter first name" [(ngModel)]="user.first_name" required>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="nf-password">Last Name</label>
                            <input type="text" id="nf-lname" name="nf-lname" class="form-control" placeholder="Enter last name" [(ngModel)]="user.last_name" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="nf-password">Phone</label>
                            <input type="number" id="nf-phone" name="nf-phone" class="form-control" placeholder="Enter Phone" [(ngModel)]="user.phone" required>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="nf-email">Email</label>
                            <input type="text" id="nf-email" name="nf-email" class="form-control" [(ngModel)]="user.email" placeholder="Enter email" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="nf-city">City/Village</label>
                            <input type="text" id="nf-city" name="nf-city" class="form-control" [(ngModel)]="user.city" placeholder="Enter city" required="">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="nf-pincode">Pincode</label>
                            <input type="number" id="nf-pincode" name="nf-pincode" class="form-control" [(ngModel)]="user.pincode" placeholder="Enter Pincode">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="nf-state">State</label>
                            <input type="text" id="nf-state" name="nf-state" class="form-control" [(ngModel)]="user.state" placeholder="Enter state" required="">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="nf-district">District</label>
                            <input type="text" id="nf-district" name="nf-district" class="form-control" [(ngModel)]="user.district" placeholder="Enter District">
                        </div>
                    </div>
                </div>
                <button type="reset" class="btn btn-secondary"> Cancel</button>
                <button type="submit" class="pull-right btn btn-primary orangeclr">Save</button>
            </form>
        </div>
    </div>
</div>
