<div> 

      
      <div class="row">
        <div class="col-12 col-lg-12">
        <div class="content-header">
          <ol class="breadcrumb">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Lands</a></li>
            <li class="active"><a href="#">Add new</a></li>
          </ol>
        </div>
        </div>
    </div>

    <div class="card">
        
        <div class="card-header">
        <div class="row">
        <div class="col-3">
      <!--  <input type="text" name="" placeholder="Search..." [(ngModel)]="search" (ngModelChange)="doSomething($event)">-->
        
        <form action="#" class="pull-left ng-untouched ng-pristine ng-valid" method="get">
        <div class="input-group">
          <input class="form-control" name="q" placeholder="Search" type="text">
          <span class="input-group-btn">
          <button class="btn btn-flat" id="search-btn" name="search" type="submit"><i class="fa fa-search"></i> </button>
          </span> </div>
      </form>
      
            </div>
       <div class="col-9 text-right">
        <button type="button" class="btn btn-success btnadd" [routerLink]="['/land/add']">Add land</button>
        <div class="icns">
                     <a><img src="assets/img/pdf.png" alt="pdf"></a>
                     <a><img src="assets/img/xls.png" alt="pdf"></a>
         </div>
            </div>
            </div>
        </div>

        <ng-table [config]="config"
                  (tableChanged)="onChangeTable(config)"
                  (cellClicked)="onCellClick($event)"
                  [rows]="rows" [columns]="columns">
        </ng-table>
        <div *ngIf="isLoading" class="is-loading"><i class="page-loader"></i></div>
        <div *ngIf="err_message" class="text-center text-danger">{{err_message}}</div>
        
        <div class="row"> 
        <div class="col-6">       
        <pre *ngIf="config.paging" class="pagenumber">Page: {{page}} / {{numPages}}</pre>
        </div>

    <div class="col-6">
        <pagination *ngIf="config.paging"
                    class="pagination-sm"
                    [(ngModel)]="page"
                    [totalItems]="length"
                    [itemsPerPage]="itemsPerPage"
                    [maxSize]="maxSize"
                    [boundaryLinks]="true"
                    [rotate]="false"
                    (pageChanged)="onChangeTable(config, $event)"
                    (numPages)="numPages = $event">
        </pagination>
       </div>
    </div>

    </div>
</div>