<div>

<div class="row">
        <div class="col-lg-2 col-6"> 
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="icon"> 
              <!--<i class="ion ion-bag"></i>--> 
              <i class="icon-Shape-13"></i> </div>
            <div class="inner">
              <p>Crops</p>
            </div>
          </div>
        </div>
        <!-- col -->
        <div class="col-lg-2 col-6"> 
          <!-- small box -->
          <div class="small-box bg-aqua" [routerLink]="['/input/list']">
            <div class="inner">
              <p>Inputs</p>
            </div>
            <div class="icon"> <i class="icon-Shape-18"></i> </div>
          </div>
        </div>
        <!-- col -->
        <div class="col-lg-2 col-6"> 
          <!-- small box -->
          <div class="small-box bg-red">
            <div class="inner">
              <p>Equipments</p>
            </div>
            <div class="icon"> <i class="icon-Shape-19"> </i> </div>
          </div>
        </div>
        <!-- col -->
        <div class="col-lg-2 col-6"> 
          <!-- small box -->
          <div class="small-box bg-yellow">
            <div class="inner">
              <p>Lands</p>
            </div>
            <div class="icon"> <i class="icon-Shape-21"> </i> </div>
          </div>
        </div>
        <!-- col --> 
        
        <!-- col -->
        <div class="col-lg-2 col-6"> 
          <!-- small box -->
          <div class="small-box bg-purple">
            <div class="inner">
              <p>Services</p>
            </div>
            <div class="icon"> <i class="icon-Shape-22"> </i> </div>
          </div>
        </div>
        <!-- col --> 
        
        <!-- col -->
        <div class="col-lg-2 col-6">
          <div class="small-box bg-teal" [routerLink]="['/user/list']">
            <div class="inner">
              <p>Users</p>
            </div>
            <div class="icon"> <i class="fa fa-user"></i> </div>
          </div>
        </div>
        <!-- col --> 
        
      </div>
      
      <div class="row">
      <div class="col-12 col-lg-12">
      <div class="content-header">
         <ol class="breadcrumb">
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Equipment Management</a></li>
          <li class="active"><a href="#">Add new</a></li>
        </ol>
      </div>
          </div>
    </div>
    <div class="card">
        <div class="card-header">
            <strong>Add Equipment</strong>
        </div>
        <div class="card-block">
            <form role="form" (ngSubmit)="addEquipment()" #addEquipmentForm="ngForm">
                
               <div *ngIf="showMessage" class="alert alert-success alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" (onclick)="closeMessage()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>Success</strong> Equipment Added Successfully.
                </div>
                
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-name">Equipment Name*</label>
                            <input type="text" id="name" name="name" class="form-control" placeholder="Enter Name" [(ngModel)]="equipment.name" required>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="category">Category*</label>
                            <select id="category" name="category" class="form-control" size="1" [(ngModel)]="equipment.category" required>
                                <option value="">Please select</option>
                                <option value="1">Option #1</option>
                                <option value="2">Option #2</option>
                                <option value="3">Option #3</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="companyManufacturer">Company/Manufacturer*</label>
                            <select id="companyManufacturer" name="companyManufacturer" class="form-control" [(ngModel)]="equipment.companyManufacturer" size="1" required>
                                <option value="0">Please select</option>
                                <option value="1">Variety 1</option>
                                <option value="2">Variety 2</option>
                                <option value="3">Variety 3</option>
                            </select>
                        </div>
                    </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                            <label for="model">Model*</label>
                            <select id="model" name="model" class="form-control" size="1" [(ngModel)]="equipment.model" required>
                                <option value="0">Please select</option>
                                <option value="1">Option #1</option>
                                <option value="2">Option #2</option>
                                <option value="3">Option #3</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                        <div class="form-group">
                            <label for="modelyear">Model year</label>
                            <select id="modelyear" name="modelyear" class="form-control" size="1" [(ngModel)]="equipment.modelyear">
                                <option value="">Please select</option>
                                <option value="2010">2010</option>                                
                                <option value="2011">2011</option>                                
                                <option value="2012">2012</option>                                
                                <option value="2013">2013</option>                                
                                <option value="2014">2014</option>                                
                                <option value="2015">2015</option>                                
                                <option value="2016">2016</option>                                
                                <option value="2017">2017</option>                                                                
                            </select>
                        </div>
                    </div>
                
                    <div class="col-sm-6">
                    <div class="form-group">
                            <label for="enginePower">Engine power</label>
                            <input type="text" id="enginePower" name="enginePower" class="form-control" [(ngModel)]="equipment.enginepower" placeholder="Enter Engine Power">
                        </div>
                    </div>
                </div>
                 <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="radio"  name="rentSell" class="" value="rent"  [(ngModel)]="equipment.rentSell" checked required>
                            <label for="nf-rentslell">Rent</label>
                            &nbsp;&nbsp;                            
                            <input type="radio" name="rentSell" class="" value="sell"  [(ngModel)]="equipment.rentSell" required>
                            <label for="rentSell">sell</label>
                        </div>                      
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="rate"></label>
                          <!--   <select id="rate" name="rate" class="form-control" size="1" [(ngModel)]="equipment.rate">
                                <option value="">Please select</option>
                                <option value="1">Option #1</option>
                                <option value="2">Option #2</option>
                                <option value="3">Option #3</option>
                            </select> -->
                            <input type="text" id="rate" name="rate" class="form-control" [(ngModel)]="equipment.rate" placeholder="Enter Rate/hr">
                        </div>
                    </div>
                </div>
                  <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="usage">Usage*</label>
                            <textarea type="text" id="usage" name="usage" class="form-control" [(ngModel)]="equipment.usage" placeholder="" rows="4" required></textarea>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="description">Description*</label>
                            <textarea type="text" id="description" name="description" class="form-control" [(ngModel)]="equipment.description" placeholder="" rows="4" required></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="termsConditions">Terms & Conditions</label>
                            <textarea type="text" id="termsConditions" name="termsConditions" class="form-control" [(ngModel)]="equipment.termsConditions" placeholder="" rows="4"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-image">Image</label>
                            <input type="file" name="" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="reset" class="btn btn-danger"><i class="fa fa-ban"></i> Reset</button>
                    <button type="submit" class="pull-right btn btn-primary" [disabled]="!addEquipmentForm.valid"><i class="fa fa-dot-circle-o"></i> Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
