<div> 

<div class="row">
        <div class="col-lg-2 col-6"> 
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="icon"> 
              <!--<i class="ion ion-bag"></i>--> 
              <i class="icon-Shape-13"></i> </div>
            <div class="inner">
              <p>Crops</p>
            </div>
          </div>
        </div>
        <!-- col -->
        <div class="col-lg-2 col-6"> 
          <!-- small box -->
          <div class="small-box bg-aqua" [routerLink]="['/input/list']">
            <div class="inner">
              <p>Inputs</p>
            </div>
            <div class="icon"> <i class="icon-Shape-18"></i> </div>
          </div>
        </div>
        <!-- col -->
        <div class="col-lg-2 col-6"> 
          <!-- small box -->
          <div class="small-box bg-red">
            <div class="inner">
              <p>Equipments</p>
            </div>
            <div class="icon"> <i class="icon-Shape-19"> </i> </div>
          </div>
        </div>
        <!-- col -->
        <div class="col-lg-2 col-6"> 
          <!-- small box -->
          <div class="small-box bg-yellow">
            <div class="inner">
              <p>Lands</p>
            </div>
            <div class="icon"> <i class="icon-Shape-21"> </i> </div>
          </div>
        </div>
        <!-- col --> 
        
        <!-- col -->
        <div class="col-lg-2 col-6"> 
          <!-- small box -->
          <div class="small-box bg-purple">
            <div class="inner">
              <p>Services</p>
            </div>
            <div class="icon"> <i class="icon-Shape-22"> </i> </div>
          </div>
        </div>
        <!-- col --> 
        
        <!-- col -->
        <div class="col-lg-2 col-6">
          <div class="small-box bg-teal" [routerLink]="['/user/list']">
            <div class="inner">
              <p>Users</p>
            </div>
            <div class="icon"> <i class="fa fa-user"></i> </div>
          </div>
        </div>
        <!-- col --> 
        
      </div>
      
      <div class="row">
      <div class="col-12 col-lg-12">
      <div class="content-header">
         <ol class="breadcrumb">
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Equipment Management</a></li>
          <li class="active"><a href="#">Add new</a></li>
        </ol>
      </div>
          </div>
    </div>

    <div *ngIf="isNewAdded" class="alert alert-success alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert"  (click)="closeMessage()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Success</strong> Equipment Added Successfully.
    </div>

    <div class="card">      
        <div class="card-header">
          <input type="text" name="" placeholder="Search..." [(ngModel)]="search" (ngModelChange)="doSomething($event)">
          <button type="button" class="btn btn-success pull-right" [routerLink]="['/equipment/add']">Add Equipment</button>
          <!-- <p><i class="fa fa-circle-o-notch fa-spin"></i></p> -->
        </div>

        <ng-table [config]="config"
                  (tableChanged)="onChangeTable(config)"
                  (cellClicked)="onCellClick($event)"
                  [rows]="rows" [columns]="columns">
        </ng-table>

        <!-- loader -->
        <div *ngIf="isLoading" style="text-align: center; font-size: 40px!important"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i></div>

        <pagination *ngIf="config.paging"
                    class="pagination-sm"
                    [(ngModel)]="page"
                    [totalItems]="length"
                    [itemsPerPage]="itemsPerPage"
                    [maxSize]="maxSize"
                    [boundaryLinks]="true"
                    [rotate]="false"
                    (pageChanged)="onChangeTable(config, $event)"
                    (numPages)="numPages = $event">
        </pagination>
        <pre *ngIf="config.paging" class="card card-block card-header">Page: {{page}} / {{numPages}}</pre>
    </div>
</div>