<div class="land-wrapper">
    
    <div class="card">
        <div class="card-header">
            <strong>{{action}} Land</strong>
        </div>
                    <form role="form" (ngSubmit)="submitLand()" #addlandForm="ngForm">

        <div class="card-block">
                
               <div *ngIf="showMessage" class="alert alert-success alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert"  (click)="closeMessage()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>Success</strong> Land Added Successfully.
                </div>
                
                <div class="row">
                  
                    <div class="col-sm-6">
                        <div class="form-group  has-required">
                            <label for="seller">Seller</label>
                            <select id="seller" name="seller" class="form-control" size="1" [(ngModel)]="land.sellerId" >
                                <option value="">Please select</option>                                
                                <option *ngFor="let obj of sellers" value="{{obj.id}}">
                                    {{obj.username}}
                                </option>      
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                       <div class="form-group  radiobuttons_top44">
                            <div class="form-group pull-left">
                                <div class="radio_button">
                                    <input type="radio"  name="rentSell" class="" id="nf-rentslell" value="Lease"  [(ngModel)]="land.rentSell" checked required>
                                    <label for="nf-rentslell">Lease</label>
                                </div>
                            </div>
                           
                            <div class="form-group pull-left">
                                <div class="radio_button">                     
                                    <input type="radio" name="rentSell" class="" id="rentSell" value="Sell" (click)="land.avail_date={};land.periods=''" [(ngModel)]="land.rentSell" required>
                                    <label for="rentSell">Sell</label>
                                </div>
                            </div>
                        </div>                    
                    </div>
                </div>
                <div class="row"  >
                    <div class="col-sm-6">
                       <div class="form-group">
                           <label for="avail_date">Available Date</label>
                             <div class="input-group form-control" [ngClass]="{'form-control': land.rentSell != 'Sell'}">
                              
                              <ng2-datepicker placeholder="DD/MM/YYYY" name="date" [options]="options" id="nfavail_date" name="nfavail_date" [(ngModel)]="land.avail_date"  *ngIf="land.rentSell != 'Sell'"></ng2-datepicker>
                                <input type="number" id="avail_date" name="avail_date" class="form-control nopointer" placeholder="" style="pointer-events: none;" *ngIf="land.rentSell == 'Sell'" [disabled]="land.rentSell == 'Sell'"  />
                            </div>
                       </div>
                   </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                                <label for="periods">Periods</label>
                         <div class="flex">
                            <input type="number" id="nf-periods" [disabled]="land.rentSell == 'Sell'" name="nf-periods" class="form-control pleft25" [(ngModel)]="land.periods" >
                          <div class="input-group-btn">
                              <select id="select3"  [disabled]="land.rentSell == 'Sell'" name="select3" class="disable btn btn-secondary dropdown-toggle"  [(ngModel)]="land.periodsunit" size="1">
                                <option value="">-Units-</option>
                                <option value="Day">Day</option>
                                <option value="Week">Week</option>
                                <option value="Month">Month</option>
                                <option value="Year">Year</option>
                            </select>
                         </div>
                        </div>  
                        </div>
                       </div>
                </div>

                <div class="row">

                     <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="nf-category">Category</label>
                            <select id="nfcategory" name="nfcategory" class="form-control" #nfcategory="ngModel" size="1" [(ngModel)]="land.categoryId" required>
                                <option value="">Please select</option>
                                <option *ngFor="let cat of category" value="{{cat.id}}">{{cat.name}}</option>
                            </select>
                            <div class="error-block">
                                <small *ngIf="nfcategory.errors?.required && nfcategory.touched" class="text-danger">
                                    Category is required.
                                </small>                                                          
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group  has-required">
                            <label for="nf-variety">Location</label>
                            <input type="text" id="nflocation" name="nflocation" #nflocation="ngModel" class="form-control" [(ngModel)]="land.location" required>
                           <div class="error-block">
                                <small *ngIf="nflocation.errors?.required && nflocation.touched" class="text-danger">
                                    Location is required.
                                </small>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group has-required">
                        <label for="nf-password">Khasra no</label>
                        <input type="number" id="nfkhasra" name="nfkhasra" #nfkhasra="ngModel" class="form-control" [(ngModel)]="land.khasra_no" required maxlength="20">
                        <div class="error-block">
                                <small *ngIf="nfkhasra.errors?.required && nfkhasra.touched" class="text-danger">
                                    khasra is required.
                                </small>
                                <small *ngIf="nfkhasra.errors?.min && nfkhasra.touched" class="text-danger">
                                    Minimum khasra should be 1.
                                </small>                                                          
                                <small *ngIf="nfkhasra.errors?.max && nfkhasra.touched" class="text-danger">
                                    Maximum khasra is allow upto 16 digit.
                                </small>                                                           
                         </div>
                    </div>
                </div>
                    <div class="col-sm-6">
                   <div class="form-group has-required">
                    <label for="nf-qty">Area</label>
                     <div class="flex">
                     
                         <input type="text" id="nfarea" name="nfarea" #nfarea="ngModel" class="form-control" aria-label="Text input with dropdown button" [(ngModel)]="land.area" required>
                        
                          <div class="input-group-btn">
                              <select id="select2" name="select2" class="btn btn-secondary dropdown-toggle"  [(ngModel)]="land.unit" size="1" required>
                                <option value="">-Units-</option>
                                <option value="Ft">Sq.Ft</option>
                                <option value="Yards">Sq. Yards</option>
                                <option value="Meter">Sq. Meter</option>
                            </select>
                         </div>
                         
                       </div>  
                        <div class="error-block">
                                <small *ngIf="nfarea.errors?.required && nfarea.touched" class="text-danger">
                                    Area is required.
                                </small>
                                <small *ngIf="nfarea.errors?.min && nfarea.touched" class="text-danger">
                                    Minimum offer area should be 1.
                                </small>                                                          
                                <small *ngIf="nfarea.errors?.max && nfarea.touched" class="text-danger">
                                    Maximum offer area is allow upto 16 digit.
                                </small>                                                           
                            </div>                    
                   </div>
                   </div>
                </div>
                 <div class="row">  
                    <div class="col-sm-6">
                    <div class="form-group has-required">
                            <label for="nf-price">Expected price </label>
                            <div class="flex">
                                <div class="icnposition"><i class="fa fa-rupee"></i></div>
                                <input maxlength="10" #nfexpected_price="ngModel"  type="number" id="nfexpected_price" name="nfexpected_price" class="form-control pleft25" [(ngModel)]="land.expected_price" required>
                               
                                <div class="input-group-btn">
                              <!-- <select id="select3" [disabled]="land.rentSell == 'Sell'" name="select3" class="btn btn-secondary dropdown-toggle"  [(ngModel)]="land.priceunit" size="1" required> -->
                              <select id="select3" name="select3" class="btn btn-secondary dropdown-toggle"  [(ngModel)]="land.priceunit" size="1" >
                                <option value="">-Units-</option>
                                <option value="Day">Per Day</option>
                                <option value="Week">Per Week</option>
                                <option value="Month">Per Month</option>
                                <option value="Year">Per Year</option>
                            </select>
                         </div>
                            </div>  
                             <div class="error-block">
                                <small *ngIf="nfexpected_price.errors?.required && nfexpected_price.touched" class="text-danger">
                                    Expected price is required.
                                </small>
                                <small *ngIf="nfexpected_price.errors?.min && nfexpected_price.touched" class="text-danger">
                                    Minimum Expected price should be 1.
                                </small>                                                          
                                <small *ngIf="nfexpected_price.errors?.max && nfexpected_price.touched" class="text-danger">
                                    Maximum Expected price is allow upto 16 digit.
                                </small>                                                           
                            </div>

                            

                        </div>
                    </div>
                </div>
                 
                  <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-description">Description</label>
                            <textarea type="text" id="nf-description" name="nf-description" class="form-control" [(ngModel)]="land.description" rows="4"></textarea>
                        </div>
                    </div>
                
                
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-termsConditions">Terms & Conditions</label>
                            <textarea type="text" id="nf-termsConditions" name="nf-termsConditions" class="form-control" [(ngModel)]="land.term_condition" rows="4" ></textarea>
                        </div>
                    </div>
                </div>
                
          
        </div>

        <div class="card-footer">
                    <button type="reset" class="btn btn-secondary whiteclr" [routerLink]="['/land/list']"> Cancel</button>
                    <button type="submit" class="pull-right btn btn-primary orangeclr" [disabled]="!addlandForm.valid">{{Id ? 'Update' : 'Save'}}</button>
                    
                </div>
                </form>  
    </div> <!-- .card -->
</div> <!-- .inputs-wrapper -->