<div>
    <div class="row">
        <div class="col-12 col-lg-12">
            <div class="content-header">
                <ol class="breadcrumb">
                    <li><a href="#">Dashboard</a></li>
                    <li><a href="#">Manufacturer</a></li>
                    <li class="active"><a href="#">Add new</a></li>
                </ol>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <strong>Add Manufacturer</strong>
        </div>
        <div class="card-block">
            <form role="form" (ngSubmit)="addManufacturer()" #addManufacturerForm="ngForm">
                <div *ngIf="showMessage" class="alert alert-success alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" (onclick)="closeMessage()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>Success</strong> Manufacturer Added Successfully.
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-name">Manufacturer Name*</label>
                            <input type="text" id="name" name="name" class="form-control" placeholder="Enter Name" [(ngModel)]="manufacturer.name" required>
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                   <div class="col-sm-6">
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea type="text" id="description" name="description" class="form-control" [(ngModel)]="manufacturer.description" placeholder="" rows="4" required></textarea>
                        </div>
                    </div>
                </div>
                
                
                <div class="card-footer">
                    <button type="reset" class="btn btn-danger"><i class="fa fa-ban"></i> Reset</button>
                    <button type="submit" class="pull-right btn btn-primary" [disabled]="!addManufacturerForm.valid"><i class="fa fa-dot-circle-o"></i> Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
