<div>
    <div class="row">
        <div class="col-12 col-lg-12">
            <div class="content-header">
                <ol class="breadcrumb">
                    <li><a href="#">Dashboard</a></li>
                    <li><a href="#">Manufacturer Management</a></li>
                    <li class="active"><a href="#">View</a></li>
                </ol>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <strong>View Manufacturer</strong>
			<button class="btn btn-secondary pull-right" *ngIf="!edit" (click)="editCrop()"><i class="fa fa-pencil"></i> Edit</button>
            <button class="btn btn-secondary pull-right" *ngIf="edit" (click)="cancel()">Cancel</button>
            <button class="btn btn-success pull-right" *ngIf="edit" (click)="save()">Save</button>
        </div>
        <!-- loader -->
        
        <div class="card-block viewmode" *ngIf="!edit">
            <form role="form" (ngSubmit)="addCrop()" #dailyExpenseForm="ngForm">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-name">Manufacturer Name*</label>
							<p>{{manufacturer.name}}</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-password">Description*</label>
							<p>{{manufacturer.description}}</p>
                        </div>
                    </div>
                </div>
            </form>
            <div *ngIf="isLoading" style="text-align: center; font-size: 40px!important"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i></div>
        </div>
    </div>
</div>
