<!-- <div class="equipment-wrapper animated fadeIn">       -->
<div class="equipment-wrapper">      
       
    <div class="row">
        <div class="col-lg-12">
            
            <!-- loading section -->
            <div class="aligncenter_loader" *ngIf="isLoading">
                <div class="is-loading"><i class="page-loader"></i></div>        
            </div>
            <!-- section ends  -->

            <div class="card" *ngIf="!isLoading">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-3 col-12">
                            <form action="#" class="ng-untouched ng-pristine ng-valid" method="get">
                            <div class="input-group">
                                <input class="form-control" name="q" placeholder="Search" type="text">
                                <span class="input-group-btn">
                                <button class="btn btn-flat" id="search-btn" name="search" type="submit"><i class="fa fa-search"></i> </button>
                                </span>
                            </div>
                            </form>
                        </div>
                        <div class="col-sm-9 col-12 text-right linehght">
                            <button type="button" class="btn btn-success btnadd" [routerLink]="['/equipment/add']">Add Equipment</button>
                            <div class="icns">
                                <a><img src="assets/img/pdf.png" alt="pdf"></a>
                                <a><img src="assets/img/xls.png" alt="pdf"></a>
                            </div>
                        </div>
                    </div> <!-- .row -->
                </div><!-- .card-header -->
                
                <div class="card-block">    
                <div class="table-responsive">                                    
                    <table class="table table-bordered table-striped table-condensed" [mfData]="data" #mf="mfDataTable"
                               [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                        <thead>
                            <tr>
                                <th width="25%">
                                    <mfDefaultSorter by="name">Name 
                                        <i *ngIf="sortOrder == 'asc'" class="fa fa-sort-asc" aria-hidden="true"></i>
                                        <i *ngIf="sortOrder == 'desc'" class="fa fa-sort-desc" aria-hidden="true"></i>
                                    </mfDefaultSorter>
                                </th>
                                <th width="20%">Supplier</th>                                
                                <th width="10%">
                                    <mfDefaultSorter by="rentSell">Type
                                        <i *ngIf="sortOrder == 'asc'" class="fa fa-sort-asc" aria-hidden="true"></i>
                                        <i *ngIf="sortOrder == 'desc'" class="fa fa-sort-desc" aria-hidden="true"></i>
                                    </mfDefaultSorter>
                                </th>
                                <th width="10%">
                                    <mfDefaultSorter by="modelyear">Model Year 
                                        <i *ngIf="sortOrder == 'asc'" class="fa fa-sort-asc" aria-hidden="true"></i>
                                        <i *ngIf="sortOrder == 'desc'" class="fa fa-sort-desc" aria-hidden="true"></i>
                                    </mfDefaultSorter>
                                </th>
                                <th width="10%">
                                     <mfDefaultSorter by="quantity">Qty
                                        <i *ngIf="sortOrder == 'asc'" class="fa fa-sort-asc" aria-hidden="true"></i>
                                        <i *ngIf="sortOrder == 'desc'" class="fa fa-sort-desc" aria-hidden="true"></i>
                                    </mfDefaultSorter>
                                </th>
                                <th width="10%">
                                    <mfDefaultSorter by="rate">Price
                                        <i *ngIf="sortOrder == 'asc'" class="fa fa-sort-asc" aria-hidden="true"></i>
                                        <i *ngIf="sortOrder == 'desc'" class="fa fa-sort-desc" aria-hidden="true"></i>
                                    </mfDefaultSorter>
                                </th>
                                <th width="10%">Actions</th>
                            </tr>
                        </thead>                        
                        <tbody>                          
                            <tr *ngFor="let equipment of mf.data">                        
                                <td><a href="javascript:void(0);" (click)="viewEquipment(equipment.id)">{{equipment.name}}</a></td>
                                <td>{{equipment.user?.username}}</td>                                
                                <td>{{equipment.rentSell}}</td>
                                <td>{{equipment.modelyear}}</td>
                                <td>{{equipment.quantity}}</td>
                                <td>{{equipment.rate}}</td>
                                <td>                                    
                                    <button (click)="sendUpdateEquipment(equipment.id)" class="btn btn-success" title="Edit" style="padding:1px 4px"><i class="fa fa-pencil"></i></button>
                                    <button  (click)="removeEquipment(equipment.id)" class="btn btn-danger orange" title="Delete" style="padding:1px 4px"><i class="fa fa-trash"></i></button>                                    
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <!-- no records found -->
                                <td colspan="7"  *ngIf="totalRecords == 0">
                                    <div class="text-center">
                                        <p class="text-center">No record to display</p>                                                               
                                    </div>  
                                </td>

                                <td colspan="7">
                                    <div class="pagination-section" *ngIf="totalRecords > 0">
                                        <div class="row-on-page">
                                            <label class="label-control">Show</label>
                                            &nbsp;
                                            <select class="input-sm" [(ngModel)]="rowsOnPage">
                                                <option [ngValue]="5">5</option>
                                                <option [ngValue]="10">10</option>
                                                <option [ngValue]="15">25</option>
                                                <option [ngValue]="15">50</option>
                                                <option [ngValue]="15">100</option>
                                            </select>
                                            &nbsp;
                                           <label class="label-control">entires</label>

                                            &nbsp;
                                           &nbsp;
                                           <span>Showing {{rowsOnPage < totalRecords? rowsOnPage:totalRecords }} of {{totalRecords}} entries</span>
                                        </div>
                                        <div class="text-right">                                    
                                            <mfBootstrapPaginator></mfBootstrapPaginator>
                                        </div>
                                        <div style="clear: both;"></div>
                                    </div>  
                                </td>    
                            </tr>                            
                        </tfoot>
                    </table>    
                    </div>                                            
                </div>
            </div>
        </div>
    </div>
</div>
