<!-- <div class="equipment-wrapper animated fadeIn">       -->
<div class="equipment-wrapper">      
    <div class="row">
        <div class="col-12 col-lg-12">
            <div class="content-header">
                <ol class="breadcrumb">
                    <li><a href="javascript:void(0)">Dashboard</a></li>
                    <li class="active"><a href="javascript:void(0)">Equipment Management</a></li>      
                </ol>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Equipments
                    <button type="button" class="btn btn-success pull-right" [routerLink]="['/equipment/add']">Add Equipment</button>
                </div>
                
                <div class="card-block">                                        
                    <table class="table table-bordered table-striped table-condensed" [mfData]="data" #mf="mfDataTable"
                               [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                        <thead>
                            <tr>
                                <th width="25%"><mfDefaultSorter by="name">Name</mfDefaultSorter></th>
                                <th width="50%"><mfDefaultSorter by="description">Description</mfDefaultSorter></th>                            
                                <th width="25%">Actions</th>
                            </tr>
                        </thead>                        
                        <tbody>
                            <tr *ngIf="isLoading">
                                <td colspan="3">
                                    <div class="is-loading"><i class="page-loader"></i></div>
                                </td>
                            </tr>
                            <tr *ngFor="let equipment of mf.data">                        
                                <td><a href="javascript:void(0);" (click)="viewEquipment(equipment.id)">{{equipment.name}}</a></td>
                                <td>{{equipment.description}}</td>
                                <td>                                    
                                    <button (click)="sendUpdateEquipment(equipment.id)" class="btn btn-info" title="Edit" style="padding:1px 6px"><i class="fa fa-pencil"></i></button>
                                    <button  (click)="removeEquipment(equipment.id)" class="btn btn-danger" title="Delete" style="padding: 1px 6px"><i class="fa fa-trash"></i></button>                                    
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3">
                                    <mfBootstrapPaginator></mfBootstrapPaginator>
                                </td>    
                            </tr>                            
                        </tfoot>
                    </table>                             
                </div>
            </div>
        </div>
    </div>
</div>
