<!-- Loader div -->
<div *ngIf="isPageLoading" class="overlayloader">
    <div class="loader"></div>
</div>


<div class="card">
    <!-- /.login-logo -->
    <div class="login-box-body card-block"  *ngIf="!successMessage">
        <div class="text-center forgotpswd">
        <h2>Change Password </h2>
        </div>
        <form role="form" #changepasswordForm="ngForm" (ngSubmit)="submit()">
            <div class="text-center" *ngIf="errMessage">
                <span class="text-danger">
                    {{errMessage}}
                </span>
            </div>
            <div class="form-group has-feedback">
                <label>Old password</label>
                <input type="password" name="oldpassword" class="form-control" [(ngModel)]="password" (ngModelChange)="errMessage=''" #oldpassword="ngModel" autofocus required>
                <li *ngIf="oldpassword.errors && oldpassword.touched">
                    <span class="text-danger" [hidden]="!oldpassword.errors.required">Old password is required.</span>
                </li>
              
            </div>
            <div class="form-group has-feedback">
                <label>New password</label>
                <input type="password" name="newpassword" class="form-control" [(ngModel)]="newPassword" (ngModelChange)="errMessage=''" #newpassword="ngModel" required validateEqual="confirmpassword" reverse="true" minlength="8">
                <li *ngIf="newpassword.errors && newpassword.touched">
                    <span class="text-danger" [hidden]="!newpassword.errors.required">New password is required.</span>
                     <span class="text-danger" [hidden]="!newpassword.errors.minlength">Minimum 8 character</span>
                </li>
              
            </div>
             <div class="form-group has-feedback">
                <label>Confirm password</label>
                <input type="password" name="confirmpassword" class="form-control" [(ngModel)]="confirmPassword" (ngModelChange)="errMessage=''" #confirmpassword="ngModel"  required validateEqual="newpassword">
                <li *ngIf="confirmpassword.errors && confirmpassword.touched ">
                    <span class="text-danger" [hidden]="!confirmpassword.errors.required">Confirm password is required.</span>
                     <span class="text-danger" [hidden]="confirmpassword.pristine && !changepasswordForm.submitted">password not match</span>
                    
                </li>                
            </div>
            <div class="row">
                <div class="col-sm-12 col-12">
                    <button type="submit" class="btn btn-success btn-block btn-flat" [disabled]="!changepasswordForm.valid">Submit</button>
                </div>
            </div>
            <div class="row">
                
            </div>            
        </form>
    </div>
    <div class="login-box-body card-block"  *ngIf="successMessage">
        <div class="text-center">
            <span class="text-success">
                <h2>{{successMessage}}</h2>
            </span>
        </div>
    </div>
    <!-- /.login-box-body -->
</div>
